---
permalink: writing/dark-forestry/index.html
slug: dark-forestry
title: Dark Forestry
pageDescription: "Seasons are changing for technologists, and the industry we work in isn't the same as it was a decade ago. We have new realities and new responsibilities to accept."
layout: layouts/blank.njk
publishDate: 2026-09-30T23:26:06.257Z
featured: true
og: 'https://henry.codes/img/og/og-a-website-to-destroy-all-websites.png'
tags:
  - article
category: journal
withoutTransition: true
topics:
  - future of computing
  - indieweb
  - rants
---
{% set imgDir = '/img/custom/dark-forestry' %}

<!DOCTYPE html>
<html lang="en" class="no-js" >

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dark Forestry | Henry From Online</title>
    <meta name="description" content="{{ pageDescription }}" />

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png" />
    <link rel="me" href="https://front-end.social/@henry" />
    <link rel="me" href="https://github.com/xdesro">
    <link rel="me" href="mailto:yo@henry.codes">
    <link rel="manifest" href="/meta/site.webmanifest" />
    <link rel="mask-icon" href="/meta/safari-pinned-tab.svg" color="#2a2722" />
    <meta name="msapplication-TileColor" content="#2a2722" />
    <meta name="theme-color" content="#2a2722" />
    <meta name="generator" content="eleventy">

    <meta property="og:url" content="https://henry.codes{{ page.url }}">
    <meta property="og:image" content="{{ og }}">
    <meta property="og:type" content="website">
    <meta property="og:description" content="{{ pageDescription }}">

    <!-- Webmentions -->
    <link rel="webmention" href="https://webmention.io/henry.codes/webmention" />
    <link rel="pingback" href="https://webmention.io/henry.codes/xmlrpc" />

    <!-- AT Proto -->
    <link rel="site.standard.document" data-href="{{ atUri }}" />

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/custom/dark-forestry/index.css">
</head>
<body>
    <main>
        <section class="intro">
            <a class="intro__label intro__label--author" href="/">A tiny website by Henry (from Online)</a>
            <div>
            <h1 class="intro__title">Dark Forestry</h1>
            <p class="intro__subtitle">some fragments regarding a new season for technologists</p>
            </div>
            <div class="intro__footer">
            <span class="intro__label intro__label--word-count">~1232 words; about a 5 minute read</span>
                <a class="intro__label intro__label--photo-cite" href="https://www.nga.gov/artworks/166427-buffalo-trail-impending-storm">Bierstadt, Albert. <em>Buffalo Trail: The Impending Storm</em>. 1869.</a>
            </div>
                <img class="intro__background" src="{{ imgDir }}/albert-bierstadt_buffalo-trail.jpg" alt="">
        </section>
        <section class="section" id="a-walk-in-the-woods">
        {% asMarkdown %}
            We walk together in an autumnal spruce-fir forest on a crisp mountain morning. The peaks are yet enwreathed in fog, and the sunlight comes at an uncanny angle through the conifers and aspens. The air is cool and the understory is damp, all but silencing our footfall at the trailhead. As we make our way up the trail through the woods, the path forward becomes harder to find and follow. The underbrush overgrows, the canopy above weeps heavy yellow leaves and rusty needles, and the pines lift snide roots to catch unwary heels and ankles. 

            You and I laugh off this encroachment, reassuring each other it'll clear up soon, opening to a wide open sky, a marshy meadow, a gossipy little snowmelt creek making its way with first-day-of-school nerves down to meet the Colorado River. But it doesn't clear up, in fact it grows darker as Douglas Firs grow taller, blocking out that October sunlight. The trees are unkempt, sick with dwarf mistletoe and pine beetle. They lean claustrophobically into each other, and choke the young trees below out of their sun and nutrients and water.

            All at once we are plunged into darkness. That promised meadow unseen, and the trail lost in all directions, scattered by a lack of care and by relentless, blighted growth. 
        {% endasMarkdown %}
        </section>
        <section class="section" id="a-new-season">
        {% asMarkdown %}
            Well, old friends, I reckon this a new season for us. 

            We don't write code anymore, freelance budgets have turned to token spend, our email inboxes are stuffed with letters no one wrote, and our bosses make threats that we use the tech that usurps us or be fired. And the tech is effective — all of our last-season nervous laughter about _spicy autocorrect_ echoes off austere walls as agents write more and better code each day. And what recourse have we? What defense against this onslaught of talking machines? Craft, and the nobility of a day's work, once-proud heraldry against inconsiderate design and careless release cycles, are threadbare banners in winter winds.

            And beyond the day-to-day: Bright-eyed technologists, come for the promise of creative problem-solving and good salaries, now squint into the unforgiving white glare of this new strange season. We're not saving the world, we're surveilling it. We're training the machines that will come tomorrow to threaten our livelihoods. We forgive ourselves daily for transgressions committed obliquely against our neighbors out of necessity — laboring daily under the maniacal feet of transphobic, racist billionaires, who use the profits we grow for them to subsidize the withering and delitigation of our human and civil rights. Gotta pay the bills.

            All the infinite promise of technology is swallowed by the maw of capital's seething hate of the labor on which it was for so long so reluctantly dependent. 
        {% endasMarkdown %}
        </section>
        <section class="section" id="erosion">
        {% asMarkdown %}
            And frankly, my optimism for a better fate falters: The organized labor revolution never came — workers walk a razorwire between rising costs of living and companies with bottomless coffers for legal violence, and for most of us, the risk is too high to try. Protests against the ecological impacts, or the extractive nature of the tooling and the work, or the ultimate impact to labor, are made to individuals — turning our ire against each other instead of the forces that demand we adapt or die. And it's hard to fault people willing to compromise like that, because as we're finding out more than ever before, it doesn't pay to stand on ethics. Gotta pay the bills.

            Higher up the chain, corporations have long abandoned an interest in delivering good products, narcotized in dogged pursuit of short-term profit and quarterly bottom lines. Venture capital props up parasitic mutants that extract subscription fees and dignity from workers in increasingly far-reaching industries, and those misshapen corporations limp on predatory attention practices, sinister user experiences, and voracious data mining — in some twisted hope they might some day be profitable, no matter the cost.
        {% endasMarkdown %}
        </section>
        <section class="section">
        {% asMarkdown %}
            The groundcover of the forest stays woefully damp & fetid in the eternal shade of rotten overgrowth, and healing wildfire never comes. {.punch}
        {% endasMarkdown %}
        </section>
        <section class="section" id="tallying-up">
        {% asMarkdown %}
            So what is there to be made of work? For most of us, it's resignation without resignation — a get-the-bag-and-go-home mindset. *It's just a job*. 
            
            It's self-indulgent of me to not propose another path, to not think critically and tirelessly and synthesize some miraculous Brave Way Forward, but I'm weary too. I've got no solutions to propose to those who have lost their enthusiasm and creative inertia to white-collar erosion. It's somehow all connected and totally disconnected, and quite by design there's no time in the day to make any sense of the whole dizzying machine.

            For technology, I don't think there's gonna be any going back. The jury is out for other industries, but at least for us computer freaks, especially those at companies well-funded enough to easily weather the changing cost of tokens, I don't think most will be seeing a future without prompted code. I think there will always be real creatives & sickos in this industry who write amazing things by hand and properly innovate, and there will be prompt-maximalists who gastown their way through the 9-5, and there will always be folks who came here because it's a paycheck, and find some balance between the two. As is often the case with these things, the path forward probably lies somewhere in the middle.
        {% endasMarkdown %}
        </section>
        <section class="section" id="some-theses">
        {% asMarkdown %}
            *Here is what I think I know:* {.center}

            - In this new season, the threats to our livelihood loom larger than ever, and so too do the threats we pose to society *with* our livelihood, as technologists in an increasingly technocratic environment.

            - As a result of our own work, as a result of the technologies we ourselves developed, it is harder than ever to connect with our fellow worker, with our fellow man, *so:*

            - There has never been a better time to develop a system of principles and ethics, by which you weigh your decisions. Ultimately, you can be held accountable by no one but yourself, so it *must* be you who does the holding.

            - There has never been a better time to develop a strong sense of empathy for your neighbors, especially as you come to this system of principled clarity. 

            - In most things, take a stance of harm reduction. Our generation will not be a pure and perfect one. We are all culpable, we are all great works-in-progress, and _a bit better_ is preferable to a perfection that never comes.

            - As technologists, we must organize our labor. [Not only do we deserve it](https://ethanmarcotte.com/books/you-deserve-a-tech-union/), and not only do we owe it to ourselves, but (perhaps most of all) we owe it to the society that our output — our laggy websites, our UX anti-patterns, our data centers — will be inflicted upon. It is the only chance we have, and the only material impact we can have on our fate and the fate of our neighbors.
        {% endasMarkdown %}
        </section>
        <section class="section" id="in-conclusion">
        {% asMarkdown %}
            And outside of work? Beats me. Try taking the bus even if it takes a bit longer. Get a library card. Compliment your neighbors and drink iced tea. Slow down and make your own days, rather than let them be made for you. I have found I really enjoy reading books by careful thinkers and working on old motorcycles, and you might see if that works for you also. 

            > Today, however, we are having a hard time living because we are so bent on outwitting death.
            >
            > <cite>— Simone de Beauvoir</cite>

            Thanks for reading. If you liked this, you can find me on my personal websites or [on Bluesky](https://bsky.app/profile/strange.website) and [Mastodon](https://front-end.social/@henry/), and if you didn't like this, I must tell you that you dreamed the whole thing. Henry (from Online) was never real. Anyway feel free to reach out to me [by email](mailto:yo@henry.codes), and as ever, unionize, free Palestine, trans rights are human rights, fix your heart or die.
        {% endasMarkdown %}
        </section>
    </main>
    <script data-taxi-reload src="https://cdn.usefathom.com/script.js" data-site="ADEBIAUD" defer></script>
</body>
</html>