<header class="page-header page-header--case-studies">
    <div class="page-header__inner">
        <h1 class="page-header__title">RSS Feeds</h1>
        <div class="page-header__bar" />
    </div>
</header>

<section class="container">
    <div class="article-content rendered">
    {% renderTemplate 'md' %}
- [Writing](/rss/writing.xml): Tutorials, essays, and ceaseless, indecipherable ranting.
- [Micro](/rss/micro.xml): Extremely short-format riffs and ideas.
- [Reading List](/rss/reading-list.xml): Blog posts and essays I read and enjoyed from bright people elsewhere on the internet.
    {% endrenderTemplate%}
    </div>
</section>