---json
{
    "layout": "layouts/rss.njk",
    "eleventyExcludeFromCollections": true,
    "permalink": "/rss/micro.xml",
    "metadata": {
        "title": "Microposting from the desk of Henry (From Online)",
        "description": "The personal site and portfolio of creative web developer Henry from Online",
        "language": "en",
        "base": "https://henry.codes/",
        "author": {
            "name": "Henry Desroches"
        }
    }
}
---
{%- for post in micro %}
{%- set absolutePostUrl = post.url | htmlBaseUrl(metadata.base) %}
<item>
    <link>{{ absolutePostUrl }}</link>
    <description>{% for entry in post.thread %}{{ entry.html }}{% endfor %}</description>
    <pubDate>{{ post.createdAt | dateToRfc822 }}</pubDate>
    <dc:creator>{{ metadata.author.name }}</dc:creator>
    <guid>{{ absolutePostUrl }}</guid>
</item>
{%- endfor %}
