{% from './client-logo.njk' import clientLogo %}
<article class="case-study-block{% if caseStudy.data.comingSoon %} case-study-block--coming-soon{% endif %}">
    <h1 class="case-study-block__title">
        {{ clientLogo(title = caseStudy.data.title.toLowerCase(), class = 'case-study-block__logo') }}
        {{ caseStudy.data.title }}
    </h1>
    <p class="case-study-block__description">
        {{- caseStudy.data.briefAbstract if caseStudy.data.briefAbstract else caseStudy.data.abstract -}}
    </p>
    <dl class="case-study-block__meta">
        <div>
            <dt class="visually-hidden">Tags</dt>
            {% if caseStudy.data.categories %}
            <dd>
                {%- for category in caseStudy.data.categories -%}
                    {{ category }}
                    {%- if not loop.last %} | {% endif %}
                {%- endfor -%}
            </dd>
            {% endif %}
        </div>
        <div>
            <dt class="visually-hidden">Duration</dt>
            <dd>
                <date>{{ caseStudy.data.duration }}</date>
            </dd>
        </div>
    </dl>
    {% if caseStudy.data.viewTheWork %}
        <a class="case-study-block__link with-arrow with-arrow--out" href="{{ caseStudy.data.link }}">
            {% if caseStudy.data.viewTheWorkText %}
                <span class="with-underline">{{ caseStudy.data.viewTheWorkText }}</span>
            {% else %}
                <span class="with-underline">View the work</span>
            {% endif %}
        </a>
    {% elif caseStudy.data.comingSoon %}
        <p class="case-study-block__coming-soon">(Case study coming soon)</a>
    {% elif caseStudy.content.length > 0 %}
        <a class="case-study-block__link with-arrow" href="/work/{{ caseStudy.data.title | slugify }}">
            <span class="with-underline">Read more
                <span class="visually-hidden">about my work with {{ caseStudy.data.title }}</span>
            </span>
        </a>
    {% endif %}
</article>