{# {% from './client-logo.njk' import clientLogo %} #}
{# {% if caseStudy.data.viewTheWork %}
        <a class="case-study-block__link" href="{{ caseStudy.data.link }}">View the work →</a>
    {% elif caseStudy.content.length > 0 %}
        <a class="case-study-block__link" href="/work/{{ caseStudy.data.title | slugify }}">Read more <span class="visually-hidden">about my work with {{ caseStudy.data.title }}</span>→</a>
    {% else %}
        <p class="case-study-block__coming-soon">(Case study coming soon)</a>
    {% endif %} #}
{% if (not caseStudy.data.viewTheWork) and (not caseStudy.content.length > 0) %}
    {% set inert = true %}
{% endif %}
<li>
<article class="case-study-row{% if inert %} case-study-row--coming-soon{% endif %}">
    <div class="case-study-row__inner">
        <div class="case-study-row__echoes" role="presentation" inert>
            <span class="case-study-row__echo" aria-hidden="true">{{ caseStudy.data.title }}</span>
            <span class="case-study-row__echo" aria-hidden="true">{{ caseStudy.data.title }}</span>
            <span class="case-study-row__echo" aria-hidden="true">{{ caseStudy.data.title }}</span>
        </div>
        <h1 class="case-study-row__title">
            {# {% renderTemplate 'webc'%}
            {% endrenderTemplate %} #}
            {# {% renderTemplate 'webc', {title: caseStudy.data.title.toLowerCase(), class: 'case-study-row__logo' } %}
            {# {{ clientLogo(title = caseStudy.data.title.toLowerCase(), class = 'case-study-row__logo') }} 
            <client-logo :title="title" :class="class"></client-logo>
            {% endrenderTemplate %} #}
            <div class="case-study-row__title-text">
                <span class="case-study-row__half">{{- caseStudy.data.title.slice(0, caseStudy.data.titleSplitIndex) -}}
                </span><span class="case-study-row__title-divider"></span><span class="case-study-row__half">
                    {{- caseStudy.data.title.slice(caseStudy.data.titleSplitIndex) -}}</span>
            </div>
        </h1>
        <div class="case-study-row__echoes case-study-row__echoes--after" role="presentation" inert>
            <span class="case-study-row__echo" aria-hidden="true">{{ caseStudy.data.title }}</span>
            <span class="case-study-row__echo" aria-hidden="true">{{ caseStudy.data.title }}</span>
            <span class="case-study-row__echo" aria-hidden="true">{{ caseStudy.data.title }}</span>
            <span class="case-study-row__echo" aria-hidden="true">{{ caseStudy.data.title }}</span>
            <span class="case-study-row__echo" aria-hidden="true">{{ caseStudy.data.title }}</span>
        </div>
    </div>
    <a class="case-study-row__link" href="/work/{{ caseStudy.data.title | slugify }}">
        <span class="visually-hidden">Read the case study</span>
    </a>
</article>
</li>