{% from './social-icon.njk' import socialIcon %}

<li class="social-list__list-item{% if socialLink.disabled %} social-list__list-item--disabled{% endif %}">
    {% set icon = socialLink.name | lower %}
    {{ socialIcon({icon: icon, class: "social-list__icon"})}}
    <a class="social-list__link" href="{{ socialLink.url }}">{{ socialLink.text or socialLink.name }}</a>
</li>