@use '../../abstract/variables' as g;
@use '../../abstract/mixins' as *;

// @use './abstract' as *;

@font-face {
  font-family: 'Forevs';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/forevs-thin.woff2') format('woff2');
}
$font-display: 'Forevs';

:root {
  --color-background: #efefef;
  --color-text: #030303;
}
body {
  font-family: g.$font-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: var(--color-text);
  background-color: var(--color-background);
}
ul {
  max-width: 70ch;
  margin-block-start: 5rem;
  margin-inline: auto;
  padding-inline-start: 1rem;
  list-style-type: '❧';
  li {
    padding-inline-start: 1ch;
  }
}
p {
  @include screen(lg) {
    font-size: 1.25rem;
  }
}
picture img {
  width: 100%;
  height: 100%;
  //   background-color: $color-ash;
}

.forest {
  display: none;

  .is-shaded & {
    position: fixed;
    z-index: 1;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.intro {
  position: relative;
  margin-block-end: 5rem;
  padding: 1rem;
  color: #fefefe;

  @include screen(680px) {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: min(50rem, 100vh);
  }
  @include screen(lg) {
    margin-block-end: 10rem;
  }
  &__title {
    font-family: $font-display;
    font-size: 15vw;
    font-size: min(21vw, 12.5rem);
    font-weight: normal;
    line-height: 0.8;
    margin-block-start: 10rem;
    margin-block-end: 0;
    text-align: center;
  }
  &__subtitle {
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1;
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 10rem;
    text-align: center;
    text-wrap: balance;
  }
  &__label {
    display: block;
    text-align: center;

    @include screen(680px) {
      display: inline-block;
    }

    &--author {
      font-style: italic;

      @include screen(680px) {
        text-align: left;
      }
    }
    &--word-count {
      //   text-align: center;
    }
    &--photo-cite {
      //   text-align: center;
    }
  }
  &__footer {
    @include screen(680px) {
      display: flex;
      justify-content: space-between;
    }
  }
  picture {
    position: absolute;
    z-index: -1;
    inset: 0;
  }
  &__background {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
  }
  a {
    text-decoration: none;
    color: inherit;
    &:is(:hover, :focus) {
      text-decoration: underline;
    }
  }
}

.section {
  position: relative;
  margin-block-end: 7rem;
  margin-inline: 1rem;
  padding-block-end: 7rem;

  @include screen(lg) {
    margin-block-end: 10rem;
    padding-block-end: 10rem;
  }
  a {
    color: inherit;
    &:is(:focus, :hover, :active) {
      color: #888;
    }
    &:visited {
      opacity: 0.8;
    }
  }
  p {
    max-width: 60ch;
    margin-inline: auto;

    @include screen(lg) {
      max-width: 37.5rem;
    }
  }
  p:last-child {
    margin-block-end: 0;
  }
  &:after {
    position: absolute;
    inset-block-end: -1.5rem;
    inset-inline: 0;
    display: block;
    width: 200px;
    max-width: 100%;
    aspect-ratio: 200 / 48;
    margin-inline: auto;
    content: '';
    background-image: url('/img/custom/dark-forestry/divider.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  &:last-of-type:after {
    content: unset;
  }
}

:is(.punch, blockquote) {
  font-size: 1.25rem;
  color: #888;

  @include screen(lg) {
    font-size: 1.5rem;
  }
}
.punch {
  font-style: italic;
  text-align: center;
  //   text-wrap: balance;
  &--first {
    margin-block-end: 5rem;

    @include screen(lg) {
      margin-block-end: 7rem;
    }
  }
}
blockquote {
  display: block;
  max-width: 60ch;
  // width: 100vw;
  margin-block: 2rem;
  margin-inline: auto;
  padding-inline-start: calc(1.25rem - 0.5rem);
  //   padding-inline-end: 1.25rem;
  border-inline-start: 0.5rem solid #ccc;

  @include screen(680px) {
    margin-block: 4rem;
    text-align: center;
    text-wrap: balance;
    text-wrap: pretty;
    border-inline-start: 0;
  }
}
.center {
  text-align: center;
}
.fin {
  font-size: 2rem;
  text-align: center;
}
.go-home {
  font-style: italic;
  display: block;
  text-align: center;
  color: #888;
}
