---
bodyClass: "home"
backLink: '/'
backLinkText: ''
footerLinks: false
---
{% from './_includes/article-block.njk' import articleBlock %}


{% renderTemplate 'webc', {site: site, recentListening: recentListening, social: social} %}
<home-hero :@recent-listening="recentListening" :@site="site"></home-hero>
<home-letter></home-letter>
<home-about :@social="social"></home-about>
{% endrenderTemplate %}
<section class="home-work themed dark">
    <h2 class="home-work__title">Selected works</h2>
    <ul class="case-study-rows" role="list">
        {% for caseStudy in collections['case study'] | sortedByPublishDate %}
            {% if caseStudy.data.isFeatured %}
                {% include 'case-study-row.njk' %}
            {% endif %}
        {% endfor %}
    </ul>
    <a class="home-work__link" href="/work">View all case studies →</a>
</section>
<section class="home-articles">
    <h2 class="home-articles__title">Articles</h2>
    <ul class="articles-list" role="list">
        {% for article in collections['article'] | sortedByPublishDate %}
        {% if loop.index0 < 6 %}
                <li>
                     {{ articleBlock(article) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <a class="home-articles__link" href="/writing">View all articles →</a>
</section>
<img class="footer-border" src="/img/footer-border.png">
{# {% include 'footer.njk' %} #}
{# <script src="/js/index.js" type="module"></script> #}
