---js
{
    eleventyComputed: {
        footerLinks: (data) => [
            ...data.footerLinks,
            { name: "Case Studies", url: "/work" },
        ],
    }
}
---
<nav class="page-nav">
    <a href="/" class="page-nav__brand">✷ season fw24</a>
    <p class="page-nav__tagline">the Personal site & Portfolio of Henry Desroches</p>
    <a href="/" class="page-nav__back-link">← Back to home</a>
</nav>

<header class="page-header">
    <div class="page-header__inner">
        <h1 class="page-header__title">Case Studies</h1>
        <img class="page-header__image" src="https://placehold.co/400x128">
    </div>
</header>

<section class="container">
    {% for caseStudy in collections['case study'] | sortedByPublishDate %}
    {# {{ caseStudy }} #}
    {% include 'case-study-block.njk' %}
    {% endfor %}
</section>
{% include 'footer.njk' %}