@use '../abstract/variables' as *;

.card {
  display: grid;
  padding: 1rem;
  border: 2px solid $color-border-mid;
  border-radius: $bdrs;

  &--clickable {
    cursor: pointer;

    &:hover,
    &:focus,
    &:focus-within &:has(a:hover) {
      border-color: $color-border-light;
    }
  }

  &__title {
    font-family: $font-serif-display;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    margin-block-end: 0.5rem;
  }

  &__author {
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &__link {
    font-size: 0.75rem;
    font-weight: bold;
    align-self: end;
    margin-block-start: 1rem;
    margin-block-end: -0.5rem;
    padding-block: 0.5rem;
    text-decoration: none;
    font-family: $font-sans;
    text-transform: uppercase;
    display: block;
    position: relative;
    width: fit-content;

    &::before {
      position: absolute;
      bottom: 6px;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      transition: transform 0.2s $ease-out-editorial;
      transform: scaleX(0);
      transform-origin: 0 0;
      background-color: currentColor;
      @media (prefers-reduced-motion: reduce) {
        transition-duration: 0s;
      }
    }

    &:hover,
    .card--clickable:is(:hover, :focus) & {
      &::before {
        transform: scale(1);
      }
    }
  }
}

.card-figure {
  --aspect: auto;

  img {
    width: 100%;
    max-width: 14rem;
    object-fit: cover;
    aspect-ratio: var(--aspect);
    margin-block-end: 0.5rem;
    border: 2px solid $color-text;
    border-radius: $bdrs;
  }

  figcaption {
    font-size: 0.75rem;
    color: $color-text-mid;
  }
}
