@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

$duration: 0.15s;
$transition: transform $duration ease-in;

.case-study-rows {
  display: grid;
  overflow: hidden;
  row-gap: 0.5ch;
  margin-inline-start: calc(50% - 50vw);
  counter-reset: rows;
  transform: translate3d(0, 0, 0); // Thanks Darn.es :)
}

.case-study-row {
  --color-echo: #3e3b36;

  position: relative;
  counter-increment: rows;

  &--coming-soon {
    position: relative;
    cursor: disabled;
    pointer-events: none;
    color: $color-text-mid;

    &::before {
      font-weight: bold;
      position: absolute;
      z-index: 2;
      inset: 0;
      display: grid;
      place-content: center;
      width: var(--coming-soon-width);
      content: 'Coming soon';
      text-transform: uppercase;
      color: $color-text;
    }

    &::after {
      position: absolute;
      z-index: 1;
      inset: 0;
      content: '';
    }

    .no-js & {
      &::before {
        inset: 0;
      }

      &::after {
        content: unset;
      }
    }
  }

  li:nth-of-type(1) & {
    @include screen(sm) {
      padding-inline-start: 5rem;
    }
    @include screen(lg) {
      padding-inline-start: calc(10vw);
    }
  }

  li:nth-of-type(2) & {
    @include screen(sm) {
      padding-inline-start: 10rem;
    }
    @include screen(lg) {
      padding-inline-start: calc(20vw);
    }
  }

  li:nth-of-type(3) & {
    @include screen(sm) {
      padding-inline-start: 8rem;
    }
    @include screen(lg) {
      padding-inline-start: calc(40vw);
    }
  }

  li:nth-of-type(4) & {
    @include screen(sm) {
      padding-inline-start: 6rem;
    }
    @include screen(lg) {
      padding-inline-start: calc(35vw);
    }
  }

  li:nth-of-type(5) & {
    @include screen(sm) {
      padding-inline-start: 0;
    }
    @include screen(lg) {
      padding-inline-start: calc(25vw);
    }
  }

  li:nth-of-type(6) & {
    @include screen(sm) {
      padding-inline-start: 2rem;
    }
    @include screen(lg) {
      padding-inline-start: calc(5vw);
    }
  }

  &__inner {
    position: relative;
    display: inline-block;
  }

  &__logo {
    width: 1em;
    max-height: 0.8em;
    object-fit: contain;
    aspect-ratio: 1;
  }

  &__title,
  &__echoes {
    font-family: $font-serif-display;
    font-size: min(8vw, 2.5rem);
    font-weight: normal;

    @include screen(lg) {
      font-size: clamp(2.5rem, -1.3603rem + 6.8627vw, 5.125rem);
    }
  }

  &__title {
    position: relative;
    display: flex;
    column-gap: 0.5ch;
    align-items: center;

    @include screen(sm) {
      transition: $transition;

      .case-study-row:has(a:hover) & {
        transform: translateX(-1.5ch);
      }
    }

    .case-study-row--coming-soon & {
      color: $color-text-mid;
      filter: blur(1.5px);
      opacity: 0.5;
    }

    &::before {
      font-family: $font-sans;
      font-size: 0.75rem;
      display: inline-block;
      align-self: start;
      content: '(0' counter(rows) ')';
    }
  }

  &__title-text {
    --logo-spacing: 1em;

    position: relative;
    width: 100%;
    white-space: nowrap;

    .case-study-row--external & {
      &::after {
        font-family: $font-sans;
        font-size: 0.75rem;
        position: absolute;
        bottom: -0.45rem;
        left: 0;
        display: inline-block;
        content: var(--view-the-work, '(external)');
        color: $color-text-mid;

        @include screen(lg) {
          bottom: -0.35rem;
          text-transform: uppercase;
        }
        @include screen(magazine) {
          bottom: -0.15rem;
        }
      }
    }
  }

  &__echoes {
    position: absolute;
    right: calc(100% + 0.5ch);
    transition: $transition, color $duration, filter $duration;
    white-space: nowrap;
    color: var(--color-echo);

    @include screen(sm) {
      filter: blur(1.5px);
    }

    .case-study-row:has(a:hover) & {
      @include screen(sm) {
        transform: translateX(-1.5ch);
        filter: blur(0);
      }
    }

    &--after {
      top: 0;
      right: unset;
      left: calc(100% + 0.5ch);

      .case-study-row:has(a:hover) & {
        transform: translateX(3ch);

        @include screen(sm) {
          transform: translateX(1.5ch);
        }
      }
    }
  }

  &__echo {
    &::before {
      font-family: $font-sans;
      font-size: 0.75rem;
      display: inline-block;
      margin-inline-end: 0.5ch;
      content: '(0' counter(rows) ')';
      vertical-align: top;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    transition: width $duration;

    &:hover {
      width: calc(100% + 3ch);
    }
  }

  &__title-divider {
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 3px;
    transition: width $duration ease-in;
    transform: translateY(-50%);
    transform-origin: 0% 0;
    background-color: currentColor;

    .case-study-row:has(a:hover) & {
      width: 3ch;
    }
  }

  &__half {
    display: inline-block;
    transition: $transition;

    .case-study-row:has(a:hover) &:last-child {
      transform: translateX(3ch);
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  .case-study-row * {
    transform: none !important;
  }

  .case-study-row__title-divider {
    display: none;
  }

  .case-study-row:has(a:hover) .case-study-row__title {
    opacity: 0.5;
  }
}
