@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.case-study-block {
  position: relative;
  margin-block-end: 1rem;
  padding: 2rem 1.5rem;
  counter-increment: case-studies;
  border: 2px solid $color-border-light;
  border-radius: $bdrs;

  &--clickable {
    cursor: pointer;
    &:hover,
    &:focus-within,
    &:has(a:hover) {
      border-color: $color-border-mid;
      a span {
        background-size: 100% 1px;
      }
    }
  }

  @include screen(sm) {
    margin-block-end: 0;
  }
  @include screen(xl) {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: auto auto max-content 1fr auto;
    align-items: end;
  }

  &:before {
    font-size: 0.75rem;
    display: inline-block;
    margin-block-end: 0.75rem;
    content: '(0' counter(case-studies) ')';

    @include screen(xl) {
      align-self: start;
    }
  }
  &__title {
    font-family: $font-serif-display;
    font-size: 3rem;
    font-weight: 400;
    line-height: 0.9;
    margin-block-end: 2rem;
    letter-spacing: -0.01em;

    @include screen(xl) {
      font-size: clamp(3.5rem, -0.5049rem + 5.8252vw, 5rem);
      display: grid;
      grid-column-end: span 2;
      grid-template-columns: subgrid;
      align-self: start;
      margin-block-end: 0;
      padding-inline-end: 1rem;
    }
  }
  &__logo {
    max-width: 1em;
    height: 100%;
    max-height: 0.7em;
    vertical-align: baseline;

    @include screen(xl) {
      width: 100%;
    }
  }
  &__description {
    line-height: 1.5;
    margin-block-end: 2rem;

    @include screen(xl) {
      margin-block-end: 0;
    }
  }
  &__meta {
    font-size: 0.75rem;
    line-height: 1.3;
    text-transform: uppercase;
    color: $color-text-mid;

    @include screen(xl) {
      grid-column-end: -1;
      grid-row: 1;
      align-self: start;
      justify-items: end;
      text-align: right;
    }
    &:has(+ .case-study-block__coming-soon) {
      margin-block-end: 1rem;
    }
  }
  &__link,
  &__coming-soon {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;

    @include screen(xl) {
      grid-column-end: -1;
      grid-row: 1;
      align-self: end;
      justify-self: end;
    }
  }
  &__coming-soon {
    color: $color-text-mid;
  }
  &__link {
    display: inline-block;
    margin-block-end: -1rem;
    padding-block: 1rem;
    text-decoration: none;
    -webkit-text-stroke: 2px $color-background;

    paint-order: stroke fill;
    @include screen(xl) {
      line-height: 1;
      max-width: 23ch;
      text-align: right;
      text-wrap: balance;
    }
    span {
      line-height: 1.1;
      transition: background-size 0.2s $ease-out-editorial;
      background-image: linear-gradient(currentColor, currentColor);
      background-repeat: no-repeat;
      background-position: 0 calc(1em + 1px);
      background-size: 0% 1px;
    }

    &:hover {
      span {
        background-size: 100% 1px;
      }
    }
  }
  &__3d-logo {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    max-width: 7rem;
  }
}
