.spotify-widget {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5ch;

  &__inner {
    display: inline-block;
  }

  > a {
    display: inline-block;
  }

  &__icon {
    max-width: #{0.75rem + 0.5rem};
    width: 100%;
    display: inline-block;
  }
}
