---
pagination:
  data: "collections.article"
  size: 1
  alias: "article"
layout: "layouts/og.njk"
permalink: "/opengraph/{{ article.url }}"
---
<div class="container">
  <p class="intro">A <span class="accent">{{ article.data.category }}</span> from the precarious desk of <span class="accent">Henry (From Online)</span></p>
  <h1>{{ article.data.title  }}</h1>
</div>
<div class="tags">{%- for topic in article.data.topics -%}{{ topic }}{% if not loop.last %} | {% endif %}{%- endfor -%}</div>
<div class="background-art">
  {% include 'graphics/crown.svg' %}
</div>
