---
pagination:
  data: "collections.page"
  size: 1
  alias: "currentPage"
layout: "layouts/og.njk"
permalink: "/opengraph/{{ currentPage.url }}/index.html"
---
<header class="header">
    <p class="intro">The personal site and portfolio of creative web developer and designer <span class="accent">Henry (from online)</span></p>
</header>
<div class="container container--wide container--bottom">
    <div class="row">
        <h1 class="page-title">{{ currentPage.data.title }}</h1>
        <div class="barb-bar"></div>
    </div>
</div>