<article class="article-block">
    <dl class="article-block__meta">
        <div>
            <dt class="visually-hidden">Category</dt>
            <dd>Tutorials</dd>
        </div>
        <div>
            <dt class="visually-hidden">Tags</dt>
            <dd>
                math | javascript
            </dd>
        </div>
    </dl>
    <h1 class="article-block__title">Using Focal Points, Aspect Ratio & Object-Fit To Crop Images Correctly</h1>
    <dl class="article-block__meta">
        <div>
            <dt class="visually-hidden">Reading Time</dt>
            <dd>7 minute read</dd>
        </div>
        <div>
            <dt class="visually-hidden">Last updated</dt>
            <dd>
                <date>Oct 2023</date>
            </dd>
        </div>
    </dl>
    <a class="article-block__link" href="#">Read more →</a>
</article>