{% macro articleBlock(article, isFeatured = false) %}
<article class="article-block{% if isFeatured %} article-block--featured themed dark{% endif %}">
    <dl class="article-block__meta">
        <div>
            <dt class="visually-hidden">Category</dt>
            <dd>{{- article.data.category -}}</dd>
        </div>
        <div>
            <dt class="visually-hidden">Tags</dt>
            <dd>
                {%- for topic in article.data.topics -%}
                    {{- topic -}} {%- if not loop.last %} | {% endif %}
                {%- endfor -%}
            </dd>
        </div>
    </dl>
    <h1 class="article-block__title">{{ article.data.title }}</h1>
    <dl class="article-block__meta">
        <div>
            <dt class="visually-hidden">Reading Time</dt>
            <dd>{{ article.data.readTime }}</dd>
        </div>
        <div>
            <dt class="visually-hidden">Last updated</dt>
            <dd>
                <date>Last updated {{ (article.data.publishDate or article.date) | humanReadableDate }}</date>
            </dd>
        </div>
    </dl>
    <a class="article-block__link" href="/writing/{% if article.data.slug %}{{ article.data.slug | slugify }}{% else %}{{ article.data.title | slugify }}{% endif %}">Read more →</a>
</article>
{% endmacro %}