<footer class="footer themed dark">
        <nav class="footer__nav">
            {% if footerLinks.length > 1 %}
            <section class="footer__section footer__section--breadcrumb">
                <div class="footer__meta-title">You are here</div>
                <div class="footer__breadcrumbs">
                    {% for link in footerLinks %}
                        <a class="footer__breadcrumb{% if link.isTitle %} footer__breadcrumb--title{% endif %}" href="{{ link.url }}">{{- link.name -}}</a>
                    {% endfor %}
                </div>
            </section>
            {% endif %}
            <section class="footer__section">
                <div class="footer__meta-title">✷ SS24</div>
                <a class="footer__link" href="#">Home</a>
            </section>
            {% for linkGroup in site.nav %}
            <section class="footer__section footer__section--link-group">
                <div class="footer__meta-title">{{ linkGroup.title }}</div>
                {% for link in linkGroup.links %}
                <div>
                    <a class="footer__link" href="{{ link.url }}">{{ link.text }}</a>
                    <span class="footer__link-description">{{ link.description }}</span>
                </div>
                {% endfor %}
            </section>
            {% endfor %}
            <section class="footer__section footer__section--social">
                <div class="footer__meta-title">Elsewhere</div>
                <ul class="social-list">
                    {% for socialLink in social %}
                        {% include "social-link-list-item.njk" %}
                    {% endfor %}
                </ul>
            </section>
            <section class="footer__section">
                <div class="footer__meta-title">Contact</div>
                <a class="footer__link" href="mailto:yo@henry.codes">yo@henry.codes</a>

            </section>
        </nav>
        <div class="footer__colophon">
            <span>`© ${new Date().getCurrentYear()}`</span>
            <span>made with :emoji: in Denver, Colorado</span>
        </div>
        <div class="footer__graphic">
            {% include 'graphics/crown.svg' %}
        </div>
    </footer>