@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.article-content {
  margin-block-end: 4.5rem;
  counter-reset: h2s;

  @include screen(magazine) {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    --standard-column: 4 / span 6;
    --pre-column: 4 / span 7;

    > * {
      grid-column: var(--standard-column);
    }

    // stylelint-disable-next-line
    > .cp_embed_wrapper {
      grid-column-end: span 6;
    }
  }
  @include screen(1200px) {
    --standard-column: 5 / span 5;
    --pre-column: 5 / span 5;
  }
  @include screen(1512px) {
    --standard-column: 5 / span 4;
  }

  h2 {
    @include screen(magazine) {
      position: relative;

      &::before {
        font-size: 1em;
        position: absolute;
        right: calc(100% + 1rem);
        width: max-content;
        content: '0' counter(h2s) ' —';
        color: $color-text;
      }
    }
    @include screen(1200px) {
      grid-column-end: span 7;
    }
  }

  pre {
    grid-column: var(--pre-column);
    max-width: 80ch;
    margin-block-end: 2rem;

    @include screen(magazine) {
      max-width: unset;
      padding: 1.5rem;
    }
  }

  .article-block,
  .case-study-block {
    max-width: 60ch;
    margin-block-end: 1lh;
  }

  picture {
    // TODO Workaround for @eleventy-img attributes on <picture>
    // display: contents;
  }

  img {
    background-color: $color-border-light;
    color: $color-text;
    grid-column: var(--standard-column);
    height: auto;
  }

  .flow {
    margin-block: 2lh;
  }
}

.subgrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-content: start;
  @include screen(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include screen(magazine) {
    grid-template-columns: subgrid;
  }

  > *:not([class]) {
    grid-column: 1 / -1;
  }

  .column {
    --column: 1 / -1;
    --row: auto;
    --column-sm: 1 / -1;
    --row-sm: auto;

    grid-column: var(--column-sm);
    grid-row: var(--row-sm);
    @include screen(magazine) {
      grid-column: var(--column);
      grid-row: var(--row);
    }
  }

  &.two-col > * {
    @include screen(sm) {
      grid-column: auto / span 1;
    }
    @include screen(magazine) {
      grid-column-end: span 5;
    }
  }
}
