@use '../abstract/variables' as *;

mjx-container {
  overflow-x: scroll;
  overflow-y: visible;
  max-width: 100%;
  padding-block: 2rem;
  padding-inline: 1rem;
  border: 2px solid #eee;
  border-radius: $bdrs;
}

math {
  min-width: 100%;

  // Safari weird thing
  // I don’t like this either but we’ve
  // got BLOG POSTS TO PUBLISH!!
  mtable[columnalign='right'] {
    text-align: center;
  }
}
