@use '../abstract/variables' as *;

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: auto;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  border: 0;
}

.themed {
  color: var(--color-text);
  background-color: var(--color-background);
}

.dark {
  --color-background: #2a2722;
  --color-text: #fafafa;
  --color-text-mid: #9f9f9f;
  --color-border-mid: hsl(38deg 11% 25%);
  --color-border-light: hsl(38deg 11% 35%);
}

.text-mid {
  color: $color-text-mid;
}

.text-serif {
  font-family: $font-serif;
}

.text-italic {
  font-style: italic;
}

.with-soft-outline {
  border: 1px solid $color-border-light;
}

.with-soft-filter-outline {
  filter: drop-shadow(1px 1px 0 #{$color-border-light})
    drop-shadow(-1px -1px 0 #{$color-border-light});
}

.with-curved-border {
  border-radius: $bdrs;
}

.with-transparent-bg,
img.with-transparent-bg {
  background-color: transparent;
}

.with-sans {
  font-family: $font-sans;
}
