@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.about-layout {
  display: grid;
  gap: 1rem;
  margin-block-end: 4.5rem;
  padding-inline: 1rem;
  counter-reset: h2s;

  @include screen(sm) {
    grid-auto-flow: dense;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-content: start;
    align-items: start;
  }
  @include screen(magazine) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: auto 1fr auto auto auto;
  }

  .card {
    padding-block: 3rem 2rem;

    @include screen(magazine) {
      padding: 3rem;
    }
  }

  .speaking-list-item {
    display: flex;
    margin-block-start: 2rem;

    @include screen(magazine) {
      grid-column-end: span 4;
      margin-block: 0 1rem;
    }

    iframe {
      order: -1;
      margin-block-end: 1.5rem;
      border-radius: $bdrs;
    }
  }

  &__avatar {
    grid-row: 2;
    margin-block-end: 2rem;

    @include screen(sm) {
      grid-row: 3;
    }
    @include screen(magazine) {
      grid-column: 1 / span 2;
      grid-row: 1 / span 2;
      width: 100%;

      --aspect: 225/429;
    }
  }

  &__who {
    @include screen(sm) {
      grid-column: 1;
      grid-row: 1 / span 2;
      align-self: start;
    }
    @include screen(magazine) {
      grid-column: auto / span 5;
    }
    @include screen(xl) {
      align-self: stretch;
    }
  }

  .to-elsewhere {
    @include screen(magazine) {
      grid-column-end: span 3;
    }
  }

  &__collar {
    display: none;
    width: 100%;
    height: 7.6rem;
    object-fit: cover;
    object-position: center 40%;
    border: 2px solid $color-text;
    border-radius: $bdrs;
    background-color: #d9d9d9;

    @include screen(sm) {
      display: block;
      align-self: start;
    }
    @include screen(magazine) {
      grid-column: auto / span 2;
      grid-row: auto / span 1;
      width: 100%;
      height: 100%;
    }
  }

  &__speaking {
    @include screen(magazine) {
      display: grid;
      grid-column: 3 / span 10;
      grid-row: 3 / span 2;
      grid-row-end: span 2;
      grid-template-columns: subgrid;
    }

    .card {
      @include screen(magazine) {
        grid-column-end: span 6;
        align-self: start;
      }
    }
  }

  &__contact {
    @include screen(magazine) {
      grid-column: 3 / span 6;
      grid-row: 4;
    }
  }

  &__recognition {
    grid-column: 1 / -1;
    @include screen(magazine) {
      grid-column: 3 / -1;
    }
  }

  .barb-bar {
    @include screen(sm) {
      grid-column: 2;
    }

    @include screen(magazine) {
      grid-column: auto / span 5;
    }
  }

  h2 {
    font-family: $font-serif-display;
    font-size: 3rem;
    font-weight: normal;
    line-height: 1;
    margin-block-end: 2rem;
    scroll-margin-block-start: 4.5rem;
    counter-increment: h2s;

    &::before {
      font-size: 1.5rem;
      line-height: 1;
      display: block;
      margin-block-end: 0.5em;
      content: '0' counter(h2s);
      color: $color-text-mid;
    }
  }

  p:not([class]) {
    font-family: $font-serif;
    line-height: 1.5;
    margin-block-end: 1em;
  }
}

.about-links {
  line-height: 1.5;
  display: flex;
  column-gap: 1rem;
  justify-content: end;
  flex-wrap: wrap;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
