---
layout: "layouts/base.njk"
bodyClass: "article"
---
{% from '../article-block.njk' import articleBlock %}
{% set nextPost = collections.article | getNextCollectionItem %}
{% set prevPost = collections.article | getPreviousCollectionItem %}

<header class="article-header">
    <div class="article-header__inner container">
    <div class="article-header__mast">
        <p class="article-header__category">{{ category }}</p>
        <h1 class="article-header__title" @text="title">{{ title }}</h1>
        <dl class="article-header__meta">
            <div>
                <dt>Duration</dt>
                <dd>{{ content | readTime }}</dd>
            </div>
            <div>
                <dt>Last Updated</dt>
                <dd>
                    {{ (publishDate or page.date) | monthYearDate }}
                </dd>
            </div>
            <div class="article-header__topics" webc:if="topics">
                <dt>Topics</dt>
                <dd @text="topics.join(' — ')">
                    <ul class="article-header__topics-list" role="list">
                    {%- for topic in topics -%}
                        <li>{{ topic }}</li>
                    {%- endfor -%}
                    </ul>
                </dd>
            </div>
        </dl>
    </div>
    {% if hasToc %}
        {% set toc = content | getTOC %}
        {% include 'table-of-contents.njk' %}
    {% endif %}
    {% if hasHero %}
        <div class="article-header__graphic-wrapper">
            {% if useHero %}
            <img alt="" {% if customThreshold %}data-threshold="{{ customThreshold }}"{% endif %} src="{{ heroImage }}" class="article-header__image">
            {% else %}
            <img alt="" src="/img/milan-cover-photo.jpg" class="article-header__image">
            {% endif %}
        </div>
    {% endif %}
</header>

<article class="article-content rendered">
    {{ content | safe }}
</article>

{% if nextPost or prevPost %}
    <!-- TODO: Next post doesn't work with webC -->
    <aside class="further-reading container">
        <h2>Try this next</h2>
        {% if nextPost %}
            {{ articleBlock(nextPost) }}
        {% else %}
            {{ articleBlock(prevPost) }}
        {% endif %}
    </aside>
{% endif %}