---
layout: "layouts/base.njk"
bodyClass: "case"
---
{% from '../client-logo.njk' import clientLogo %}
{% set nextPost = collections['case study'] | getNextCollectionItem %}
{% set prevPost = collections['case study'] | getPreviousCollectionItem %}

<header class="case-header{% if categories or tenure %} case-header--with-meta{% endif %}" style="--brand-fill: {{ theme.fill }}; --brand-contrast: {{ theme.contrast }}">
    <div class="case-header__inner container">
    <div class="case-header__mast">
        <div class="case-header__title-wrapper">
            <div class="case-header__logo">
                {{ clientLogo(title = title.toLowerCase(), class ='') }}
            </div>
            <h1 class="case-header__title" @text="title">{{ title }}</h1>
        </div>
        <p class="case-header__abstract">{{ abstract }}</p>
        {% if categories or tenure %}
        <dl class="case-header__meta">
            {% if categories %}
            <div class="case-header__categories" webc:if="topics">
                <dt>Discipline</dt>
                <dd @text="categories.join(' — ')">
                    <ul class="case-header__topics-list" role="list">
                    {%- for category in categories -%}
                        <li>{{ category }}</li>
                    {%- endfor -%}
                    </ul>
                </dd>
            </div>
            {% endif %}
            {% if tenure %}
            <div>
                <dt>Tenure</dt>
                <dd>{{ tenure }}</dd>
            </div>
            {% endif %}
        </dl>
            {% endif %}
    </div>
    {% if hasToc %}
        {% set toc = content | getTOC %}
        {% if toc.length %}
        {% include 'table-of-contents.njk' %}
        {% endif %}
    {% endif %}
</header>

<article class="article-content rendered" @raw="content">
    {{ content | safe }}
</article>