---
layout: "layouts/base.njk"
bodyClass: "article"
---
{% from '../social-icon.njk' import socialIcon %}

<div class="layout-post container">
    <article class="post post--by-self">
        <footer class="post__footer">
            <div class="post__links">
                {% if blueskyUrl %}
                <a href="{{ blueskyUrl }}">
                    {{ socialIcon({ icon: 'bluesky' }) }}
                    <span class="visually-hidden">View on Bluesky</span>
                </a>
                {% endif %}
                <a class="post__permalink" href="/micro/{{ date | toISOString | slugify }}">Permalink</a>
            </div>
        </footer>
    </article>
</div>