---
layout: "layouts/base.njk"
bodyClass: "article"
---
{% from '../micro-post.njk' import microPost %}
{% from '../social-icon.njk' import socialIcon %}


<div class="layout-post container">
    {{ microPost(text, date, blueskyUrl, mastodonUrl, attachment, collections) }}
    {% set publicUrl = "https://henry.codes"  + page.url %}
    {% if webmentions %}
        {% set filteredMentions = webmentions | webmentionsByUrl(publicUrl) %}
        {% if filteredMentions.length > 0 %}
            {% set likes = filteredMentions | getLikes %}
            {% set replies = filteredMentions | getReplies %}
            <section>
                <h2>Webmentions</h2>
                {% if likes %}
                    <section>
                        <h3>Liked by:</h3>
                        {% for like in likes %}
                            <a href="{{ like.author.url }}">
                                <img src="{{ like.author.photo }}" alt="{{ like.author.name }}" />
                            </a>
                        {% endfor %}
                    </section>
                {% endif %}
                {% if replies %}
                    <section>
                        <h3>Replies:</h3>
                        {% for reply in replies %}
                            <article>
                                <header>
                                    <img src="{{ reply.author.photo}}" />
                                    <h1>{{ reply.author.name }}</h1>
                                    <a href="{{ reply.author.url }}">Go to profile</a>
                                </header>
                                <div>{{ reply.content.html }}</div>
                                <a href="{{ reply.url }}">Go to reply</a>
                            </article>
                        {% endfor %}
                    </section>
                {% endif %}
            </section>
        {% endif %}
    {% endif %}

</div>
