{% set pageTitle = site.baseTitle %}
{% if title %}
    {% set pageTitle = title + ' | ' + pageTitle %}
{% endif %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if meta.title %}
    <title>{{ meta.title }}</title>
    {% else %}
    <title>{{ pageTitle }}</title>
    {% endif %}
    {% if meta.description %}
    <meta name="description" content="{{ meta.description }}" />
    {% else %}
    <meta name="description" content="The personal site & portfolio of creative web developer Henry from Online" />
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png" />
    <link rel="me" href="https://front-end.social/@henry" />
    <link rel="me" href="https://github.com/xdesro">
    <link rel="manifest" href="/meta/site.webmanifest" />
    <link rel="mask-icon" href="/meta/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-TileColor" content="#f5f5f5" />
    <meta name="theme-color" content="#F5F5F5" />
    <meta name="generator" content="eleventy">

    <meta property="og:url" content="https://henry.codes">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Henry From Online">
    {% if meta.description %}
    <meta property="og:description" content="{{ meta.description }}">
    {% else %}
    <meta property="og:description" content="The personal site & portfolio of creative web developer Henry from Online">
    {% endif %}
    {%- if og -%}
        <meta property="og:image" content="{{ og }}">
    {% else %}
    {# TODO dev.henry.codes #}
        <meta property="og:image" content="https://dev.henry.codes/img/og/og-default.png">
    {%- endif -%}

    <!-- Indieweb -->
    <link rel="authorization_endpoint" href="https://indieauth.com/auth">
    <link rel="token_endpoint" href="https://tokens.indieauth.com/token">

    <!-- Webmentions -->
    <link rel="webmention" href="https://webmention.io/henry.codes/webmention" />
    <link rel="pingback" href="https://webmention.io/henry.codes/xmlrpc" />

    <!-- Aperture -->
    <link rel="microsub" href="https://aperture.p3k.io/microsub/816">

    {% if page.url === '/' %}
        <link rel="preload" href="/fonts/manuka-black.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/fonts/subset-LouizeDisplay.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/fonts/subset-LouizeDisplay-Italic.woff2" as="font" type="font/woff2" crossorigin />
        <link rel="preload" href="/fonts/PPNeueMontreal-Book.woff2" as="font" type="font/woff2"
        crossorigin />
    {% else %}
        <link rel="preload" href="/fonts/subset-Louize.woff2" as="font" type="font/woff2" crossorigin />
    {% endif %}

    <link rel="stylesheet" href="/css/fonts.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="no-js {% if bodyClass %}{{ bodyClass }}{% endif %}">
    {% renderTemplate "webc", {site: site, backLink: backLink, backLinkText: backLinkText} %}
        <page-nav :@back-link="backLink" :@back-link-text="backLinkText"></page-nav>
    {% endrenderTemplate %}
    <div data-taxi class="router-target">
        <div data-taxi-view view={{ page.url }}>

        {{ content | safe }}
        {% renderTemplate "webc", { backLink: backLink, backLinkText: backLinkText, footerLinks: footerLinks } %}
            <page-nav-data :@back-link="backLink" :@back-link-text="backLinkText" :@footer-links="footerLinks"></page-nav-data>
        {% endrenderTemplate %}
        </div>
    </div>
    {% include 'footer.njk' %}
    {% include 'grid.njk' %}
    <script>
        document.body.classList.remove('no-js')
    </script>
    {# TODO: Remove splitting dependency #}
    <script src="/js/vendor/splitting.min.js"></script>
    <script src="/js/index.js" type="module"></script>
    {% if page.url === '/' %}
    <script data-taxi-reload src="/js/home.js" type="module"></script>
    {% endif %}
</body>
</html>