@use '../../abstract/mixins' as *;

@use './abstract' as *;

.chapter-five {
  @include magazine-grid;

  margin-block-start: var(--spacing-large);
  scroll-margin-block-start: 0;

  @include screen(sm) {
    scroll-margin-block-start: 1.5rem;
  }

  > * {
    grid-column: 1 / -1;
  }
}
.chapter-five-hero {
  position: relative;
  margin-block-end: var(--spacing-large);
  margin-inline: -1rem;
  text-align: center;

  @include screen(sm) {
    margin-inline: unset;
  }
  @include screen(lg) {
    grid-column: 2 / -2;
  }
  &__inner {
    position: absolute;
    inset-block-start: 50%;
    inset-inline: 0;
    transform: translateY(calc(-50% - 1lh));
    color: #fefefe;
  }
  .chapter-counter {
    margin-block-end: 2rem;
  }
  &__title {
    @include davinci;

    font-size: clamp(4.5rem, 12vw, 7.5rem);
    padding-inline: 1rem;
  }
  figure {
    position: relative;
    z-index: -1;
  }
  figcaption {
    margin-inline-end: 1rem;

    @include screen(sm) {
      margin-inline-end: unset;
    }
  }
  img {
    height: 42rem;
    object-fit: cover;
    filter: brightness(0.8);
  }
}

.websites-callout {
  @include davinci;

  font-size: 4.5rem;
  font-style: italic;
  margin-block-end: var(--spacing-large);
  margin-inline: auto;
  padding-inline: 1rem;
  text-align: center;
}

.and-how {
  margin-block-end: var(--spacing-large);

  @include screen(sm) {
    grid-column: 2/-2;
  }
  @include screen(lg) {
    grid-column: 3 / -3;
  }
  @include screen(xl) {
    grid-column: 5 / -5;
  }

  p {
    @include screen(sm) {
      font-size: 1.25rem;
      grid-column: 1 / -1;
      max-width: unset;
    }
    @include screen(lg) {
      text-align: center;
      text-wrap: balance;
    }
  }
}

.steps-list {
  margin: 0;
  margin-block-end: var(--spacing-large);
  padding: 0;
  counter-reset: steps;

  @include screen(sm) {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include screen(lg) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @include screen(1300px) {
    grid-template-columns: subgrid;
  }
}

.steps-list-item {
  margin-block-end: var(--spacing-small);
  list-style-type: none;
  counter-increment: steps;

  @include screen(lg) {
    text-align: justify;
  }
  @include screen(1300px) {
    grid-column-end: span 4;
    &:nth-of-type(1),
    &:nth-of-type(4) {
      grid-column-start: 2;
    }
    &:nth-of-type(2),
    &:nth-of-type(5) {
      grid-column-start: 7;
    }
    &:nth-of-type(3) {
      grid-column-start: 12;
    }
  }

  &:last-child {
    margin-block-end: 0;
  }
  &:before {
    font-family: $font-display-secondary;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    max-width: 3rem;
    aspect-ratio: 1;
    margin-block-end: 2rem;
    margin-inline: auto;
    // content: counter(steps) '.';
    content: counter(steps);
    text-align: center;
    color: #a18c3a;
    border: 1px solid currentColor;
    border-radius: 100%;
  }
  h3 {
    font-family: $font-display-secondary;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
    margin-block-end: var(--spacing-small);
    text-align: center;

    @include screen(sm) {
      min-height: 2lh;
    }
    em {
      font-style: normal;
    }
  }
  p {
    font-size: 1.25rem;

    @include screen(sm) {
      font-size: 1rem;
    }
  }
}
