@use '../../vendor/reset';
@use '../../abstract/mixins' as *;
@use '../../base/rendered';

@font-face {
  font-family: 'PP Editorial Old';
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/PPEditorialOld-UltralightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PP Editorial Old';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/PPEditorialOld-Ultralight.woff2') format('woff2');
}

@font-face {
  font-family: 'Goudy Initialen';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/GoudyInitialen.woff2') format('woff2');
}

$font-display: 'PP Editorial Old', serif;
$font-serif: 'Louize', serif;
$font-sans: 'Neue Montreal', sans-serif;
$font-initial: 'Goudy Initialen', cursive;
$font-mono: 'SFMono', 'SF Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono',
  'Ubuntu Mono', monospace;

:root {
  --color-text: #030303;
  --color-sky: #030f21;
}
body {
  background-color: #030f21;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.stars {
  position: fixed;
  z-index: -1;
  inset: 0;
  top: 0;
}

nav {
  font-family: $font-serif;
  font-size: 0.9rem;
  font-style: italic;
  position: absolute;
  inset-block-start: 1rem;
  inset-inline: 1rem;
  overflow-x: clip;
  max-width: calc(100vw - 2rem);
  text-align: center;
  text-wrap: balance;
  text-wrap: pretty;
  color: #b8b8b8;

  @include screen(737px) {
    display: grid;
    grid-auto-flow: dense;
    gap: 1rem;
    grid-template-columns: auto 1fr auto 1fr auto;
    align-items: center;
    justify-content: space-between;
    max-width: calc(100vw - 4rem);
    margin-inline: auto;
    &:before,
    &:after {
      display: block;
      grid-row: 1;
      width: 100%;
      height: 1px;
      content: '';
      background-color: #b8b8b8;
    }
    &:before {
      grid-column: 2;
    }
    &:after {
      grid-column: 4;
    }
  }

  > div {
    display: inline;
  }
  a {
    color: #fefefe;
  }
}

.hero {
  $color-border: #b8b8b8;

  display: grid;
  place-content: center;
  height: 100vh;
  margin-block-end: 3rem;
  text-align: center;
  h1 {
    font-family: $font-display;
    font-size: clamp(3rem, 10vw, 7.25rem);
    font-weight: 200;
    font-style: normal;
    font-feature-settings: 'dlig';
    line-height: 1;
    max-width: 14ch;
    margin-inline: 1rem;
    color: #fefefe;
    span {
      font-style: italic;
    }
  }
  &__background {
    position: absolute;
    inset: 3rem 2rem 2rem;
    pointer-events: none;

    @include screen(737px) {
      border-inline-start: 1px solid $color-border;
      &:before,
      &:after {
        position: absolute;
        display: block;
        content: '';
      }
      &:before {
        inset-block-start: 0;
        inset-inline-end: 1px;
        height: 100%;
        border-inline-start: 1px solid $color-border;
      }
      &:after {
        inset-block-end: 0;
        width: 100%;
        border-block-end: 1px solid $color-border;
      }
    }
    @include screen(1000px) {
      &:before {
        height: calc(100vh - 4rem - ((670 / 464) * 15rem) - 1rem);
      }
      &:after {
        width: calc(100vw - 4rem - 15rem);
      }
    }
  }
  &__corner {
    position: absolute;
    inset-block-end: -1rem;
    inset-inline-end: -1rem;
    display: none;
    width: 100%;
    color: #fefefe;
    max-width: 10rem;

    @include screen(1000px) {
      max-width: 15rem;
      display: block;
    }
  }

  .sun {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 100%;
    max-width: 8rem;
    opacity: 0.8;
    color: #fefefe;

    @include screen(952px) {
      bottom: 3rem;
      left: 3rem;
      max-width: 12rem;
    }
  }
  .moon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 100%;
    max-width: 6rem;
    opacity: 0.8;
    // opacity: 0;
    color: #fefefe;

    @include screen(952px) {
      top: 3rem;
      right: 3rem;
      max-width: 8rem;
    }
  }
  .paths {
    position: absolute;
    inset: 0;
  }
}

.article-content {
  font-family: $font-serif;
  font-size: 1.2rem;
  max-width: min(calc(100vw - 1rem), 666px);
  margin-block-end: 10rem;
  margin-inline: auto;
  padding-inline: 1rem;
  color: var(--color-text);

  em {
    opacity: 0.7;
    // font-style: normal;
    em {
      font-style: normal;
      opacity: 1;
    }
  }
  p {
    line-height: 1.5;
  }
}

.section {
  margin-block-end: 15rem;
  &--final {
    margin-block-end: 8rem;
  }
  p {
    margin-block-end: 2em;
    &:first-child {
      &:first-letter {
        font-family: $font-initial;
        font-size: 5.2em;
        float: left;
        margin-inline-end: 0.1ch;
      }
    }
  }
}
.flow {
  margin-block-end: 10rem;
}
.two-col {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  align-items: stretch;
  width: calc(100vw - 4rem);
  max-width: 1000px;
  margin-inline-start: calc(50% - min(500px, 50vw) + 1rem);
  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.full-bleed {
  width: calc(100vw - 3rem);
  margin-inline-start: calc(50% - (50vw - 1.5rem));
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.text-center {
  text-align: center;
}

.clock {
  font-family: $font-serif;
  font-size: 1rem;
  position: fixed;
  inset-block-start: calc(50vh - 0.5lh);
  inset-block-end: 0;
  inset-inline: 0;
  inset-inline-end: calc(50vw + (666px / 2) + 2rem);
  display: none;
  padding-block: 0.5rem;
  text-align: center;
  text-align: right;
  opacity: 0;

  @include screen(952px) {
    display: block;
  }
}

del {
  position: relative;
  white-space: nowrap;
  text-decoration: none;
  &:before {
    position: absolute;
    inset: 0;
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  fill='%23f7595f' viewBox='0 0 145 17'%3E%3Cpath d='M133.8 2.3c.3.3-.3 3.7 0 4s4.2-.2 5.5 0c.3 0 .6 1 1 1 1.6.4 3.2-.7 4.5 1.5-1.4 1.9-4.3-.5-4.5-.5-.4 0-1.6 2.8-5 2-7.9-1.8-15-.1-23-1-17-1.8-40.5.1-57.9 2-1.7.2-5.4.3-7 0-4.3-.8-11 1.5-16 2-7.1.7-14 .9-21 2l-4.4 1c-.7-3.5 2.6-1.6 4.5-2 13-3.2 24.4-3.3 38-5 .3 0 .5-1 1-1 1.2-.2 3.6.9 3.4-1-9 .4-18.5-.6-27.4 0-3 .2-6.9 1.7-11 1-3.4-.6-5 2.5-8 0L0 9.3l3.5-2C31.7 3 61.8 1 91.4.3c12.8-.3 28.4-1 39.9 2 .7.2 2.3-.2 2.5 0m-4 2c-2 .6-3-.8-4.5-1-2-.2-5.3.5-7 0-1.6-.4 0-1.5-3-1-4.6.8-11.8-.2-17 0-13.1.6-28.3 0-41.9 1-.3 0-.6 1-1 1l-7.5 1c8.2-.2 16.4.3 24.5 0 14.5-.4 30.7-1.8 46-1 1.7.1 4.5 1 7.9 1 1.2 0 3.7.8 3.5-1'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center center;
  }
  & + ins {
    // color: blue;
    position: absolute;
    display: inline-block;
    transform-origin: 0 0;
    text-decoration: none;
    color: hsl(358, 91%, 66%);

    &:before {
      position: absolute;
      top: 50%;
      right: 100%;
      width: 3rem;
      aspect-ratio: 122 / 30;
      content: '';
      rotate: 180deg;
      transform: translateY(-50%);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23f7595f' viewBox='0 0 122 30'%3E%3Cpath d='m118.9.3.7-.2.3.6h-.2v.2h.2v.3h.3V.8c.3-.3.5.3.7.5q.5.2.8.8v.6c0 .4.5.6-.2 1 .3.2-.3.8-.6.7l-.1-.3c0 .5-.5.8-.6 1.3l.2.1-.7.3c-.6.6-2 2.9-2.4 3.6-.9 1.4-1.8 3.5-2.7 4.8l-.5.3v.5c-.2.8-1.6 2.9-2.1 3.6-.2.2 0 .4-.4.2l-.2.1.2.3-1.2 2.4-.5.1s.1.5-.1.7c-.5 0 0-.5-.6-.3l.1.4q-.2-.2-.5.2c-.2.5.3.5.4.6.1.2-.3.6-.3.6l-1.2 2.4q-.5 1.2-1.2 2.3l-.5-.2v.3l-.3-.2q.2.3-.1.7l-.1-.3q-.5.2-.4.4H104l.1-.3c-.5 0-.2-.5-.5-.6q0 .5-.8.6l.1-.3h-.3l-.1.3.2.3.6-.1v.4h-1l.2-.5c-.4-.1-.2.3-.3.4h-.6V29l.4.3.2-.5c-.2-.4-.7-.1-1-.2-.2-.3.4-.6.2-.8 0 0-.5 0-.5-.3q.4 0 .5-.3c.4-.7.7-2 1.2-2.5q.2-.3.6-.2l-.4-.3c0-.3.6-.5.6-.6 0-.2 0-1 .5-1.3h.3v-.6l1-1.8c.2-.4.2-1 1-1l-.3-.3c.6-.2-.2-.8.4-1.3l.3.2 2.8-5h-.1l-.1-.4c-.5 0-.4.8-1 .4l-3.3 1.6q-5.4 2.6-11 4.8L91 20q-2.4.6-5.2 1.6a110 110 0 0 1-36.6 3.7 92 92 0 0 1-36.5-10.7l.2-.3-.4-.1v.3l-2.3-1.3c-.4-.3-1-.5-.9-1H9v-.4l-.6.1v-.2L6.8 11q-1.6-1-2.7-2C3 8.2.5 6.3.3 5.4v-.8L0 4q0-.5.6-.5v-.2Q.2 3.4.4 3l.9-.2q0-.2-.3-.3C.8 2.2 1 2 .4 2v-.4c.1-.3.5 0 .8-.2V2c1.2-.5 1.5.8 2.7.7l-.2.1c0 .4.4.1.5.2q.5.3.6.6l.9.5-.3.4q.7-.3 1 .3l.8.5q.1.3.7.4l-.1.4H8v.1h.4l-.1.3c1.5 0 2.5 1.4 3.8 2v.2h.4l-.1.4c.5-.2 1.8.6 2 1l.1.3.2-.1c.6.3.5.1 1 .3l.7.5 1.3.5v.6c.6-.2 1.2.3 1.8.3l-.1.2.4.2v.2c.4 0 1.1-.3 1.2.3l.7.1c1.5.4 3 1.3 4.5 1.8l2.9.9q1.2.6 2.4.8v.2l1.6.1-.1.4c.5-.3.7 0 1 0l2.4.6c.6 0 2 .3 2.5.5q.1 0 0 .2l.2-.2 2.8.6q1.5 0 2.8.3l.2.2h2.4l-.4-.1-1.8-.3q-.1-.2.2-.2l4.5.5q2.2 0 4.3.3h5.2c0 .2-.5.2-.6.2l-1.3-.1-8-.1q-.8 0-1.4-.3s-.6 0-.6.3l6.3.4c2.6-.3 5.4.2 7.8 0l.8-.1c1 0 2.2-.4 3 0-.1-.4.7-.1 1-.1l1.4-.4c.4 0 .2.2.4.3v-.4l.2.3 1-.4 2.9-.3c.3 0 1 .3 1.2 0v-.3q.7.1.2.5h.4v-.3l.6-.3 2.7-.5 6.6-1.4c.6-.1 1.8-.8 2.2-.9 1.4-.2 2-.4 3.3-1 .2 0 .3.3.4 0h.2l.1.2c.5-.9 1.6-.7 2.3-1 .4 0 .8-.5 1-.6q2.6-.9 5.2-2.1-.2-.2-.5 0l-1.3.5c-.2-.2.2-.3.2-.3l3.4-1.4-1.3.7q-.3 0-.1.3l2.8-1.2.2.2v-.3l.5-.1c1.3-.6 1.9-1.3 3.4-1.7.2 0 0-.4.4-.2l.2-.5q-.7 0-1.2.4v-.3l-.2-.1 1.4-.3-.2-.3h.7l-.2-.2-3.8.4-3.5.2c-2.4.1-6.6.3-8.8-.2l-2.2-1c-.3-.3-.2-.7-.8-.8.9-.6 0-.5 0-.6s0-.4-.4-.4v-.3h.3L87 4c-.1-.1.2-.7-.2-.6l.4-.3-.2-.6h.6c2.6-.8 6.4 0 9.1 0l.2-.3h4.6c.7-.1 1.9-.6 2 .3l.5-.4c1-.5 5-1 6.3-1h.3v.3l.4-.1-.3-.1q.5-.5 1 0l.6-.4.5.5.2-.5.6-.2.1.2.2-.2h.3q.3.9 1 .2v.3l.5-.2c.1-.2-.6-.3-.3-.5A7 7 0 0 1 118 0c.2.1.6.5.8.3'/%3E%3Cpath d='M96.4 12.2q0 .3-.2.3-1.1.6-2.2.7 1-.7 2.4-1m8.2 8.2-.7 1.2v-.5l-.6.8c0-.3.4-1 .5-1.1h.4c.2-.2 0-.5.4-.4m-20.5-3.9q-2.3.8-4.8 1.2 0-.3.3-.2c1.4-.5 3-.6 4.5-1.2zm-17.6 3.1q0 .3-.4.3H64l.8-.1zm-43-5.6-1.6-.7q-.5 0-.5-.4 1.2.4 2.1 1m40.2 6c.4.4-1.2.2-1.3.2-.3 0-.7.3-1 0zm-22.9-1.2h-1l-1-.2q-.4 0-.4-.2z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
    &.down {
      rotate: 2deg;
      transform: translateY(0.8lh) translateX(-2ch);
      &:before {
        top: 40%;
        right: 104%;
        rotate: 193deg;
        transform: scaleY(-1);
      }
    }
    &.up {
      rotate: -2deg;
      transform: translateY(-0.8lh) translateX(-2ch);
      &:before {
        top: 5%;
        right: 104%;
        rotate: 165deg;
      }
    }
  }
}

.hover-images {
  --x: 0;
  --y: 0;
  --angle: 0deg;
}

.hover {
  color: inherit;

  text-decoration-style: dashed;
}
.hover-image {
  position: fixed;
  top: var(--y);
  left: var(--x);
  width: min(30rem, calc(100vw - 2rem));
  height: auto;
  object-fit: cover;
  transition: opacity 0.2s ease;
  transform: translateX(-50%) translateY(-50%) rotate(var(--angle));
  pointer-events: none;
  opacity: 0;
  border-radius: 0.2rem;
}

.hover-image--active {
  opacity: 1;
}
