@use '../abstract/variables' as *;

.table-of-contents {
  margin-block-end: 3rem;
  &__title {
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    text-transform: uppercase;
    color: $color-text-mid;
  }
  &__list {
    margin-block: 0;
    padding: 0;
    counter-reset: toc;
    > li {
      line-height: 1.3;
      display: grid;
      gap: 0.5ch;
      grid-template-columns: auto 1fr;
      counter-increment: toc;

      // font-variant-numeric: tabular-nums;
      &:before {
        display: inline-block;
        width: 5ch;
        content: '(0' counter(toc) ') —';
        text-align: right;
        // text-align: right;
        color: $color-text-mid;
      }
    }
    a {
      position: relative;
      z-index: 0;
      justify-self: start;
      margin-block-end: 0.2em;
      transition: 0.2s $ease-out-editorial;
      transition-property: color, background-size;
      text-decoration: none;
      text-wrap: balance;
      background-image: linear-gradient(currentColor, currentColor);
      background-repeat: no-repeat;
      background-position: 0 calc(100% - 1px);
      background-size: 0% 1px;
      -webkit-text-stroke: 2px $color-background;

      paint-order: stroke fill;

      &:hover {
        background-size: 100% 1px;
      }
    }
  }
}
