@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-family: 'Neue Montreal', sans-serif;
  margin: 0;
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);

  --color-text: #2a2722;
  --color-background: #fafafa;
  --color-text-mid: #666;
  --color-border-mid: #bdbdbd;
  --color-border-light: #eee;
}
a {
  color: inherit;

  &.with-arrow {
    &:after {
      margin-inline-start: 0.5ch;
      display: inline-block;
      content: '→';
    }
  }
  &.with-arrow--out {
    &:after {
      content: '↗';
    }
  }
}
a:not([class]) {
  &:hover {
    color: $color-text-mid;
  }
}
h1 {
  // text-transform: uppercase;
}
ul,
ol {
  padding-left: 1rem;
}
del {
  color: $color-text-mid;
}
ins {
  text-decoration: none;
}
picture img {
  width: 100%;
  height: 100%;
}
code,
pre {
  max-width: 100%;
  overflow-x: scroll;
}

:not(pre) > code {
  background-color: #eee;
  // white-space: nowrap;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    inset: -0.5ex;
    background-color: #eee;
    border-radius: 4px;
    z-index: -1;
  }
}

.link-block {
  font-family: $font-serif;
  font-size: 1.25rem;
  line-height: 1.3;
  display: block;
  padding: 3.5rem 2rem 1rem;
  text-align: right;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid $color-text;
  border-radius: $bdrs;
  text-wrap: balance;
  @include screen(sm) {
    line-height: 1;
    padding-block-start: 2rem;
  }
  &:hover {
    color: $color-background;
    background-color: $color-text;
  }
}

.container {
  margin-inline: 1rem;
}

.overlay-window {
  background-color: var(--color-background);
  position: fixed;
  inset: 0;
  z-index: 2;
  opacity: 0.5;
  border-radius: 1rem;
  border: 2px solid var(--color-border-mid);
}

.router-target {
  min-height: 100vh;
}
