@use '../abstract/variables' as g;
@use '../abstract/mixins' as *;

@use './abstract' as *;

:root {
  --color-contrast: #{$color-fog};
  --color-primary: #{$color-oil};
  --color-background: var(--color-contrast);
  --color-text: var(--color-primary);
  --color-border: #{$color-ash};
}

::selection {
  background-color: hsla(47, 18%, 30%, 0.2);
}

html {
  overscroll-behavior-y: none;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  font-family: g.$font-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

picture img {
  width: 100%;
  height: 100%;
}

figure {
  > picture,
  > img {
    margin-block-end: 0.5rem;
  }
  figcaption {
    font-size: 0.75rem;
    text-align: right;
  }
}
p {
  code {
    font-family: $font-mono;
    font-size: 0.75em;
    white-space: nowrap;
    color: #a18c3a;
    font-size: 0.75em;
    border: 1px solid hsl(48, 47%, 63%);
    padding-inline: 0.5ch;
    border-radius: 4px;
  }
}
a {
  &:is(:hover, :focus, :active) {
    opacity: 0.8;
  }
  &:has(> code) {
    text-decoration: none;
  }
}

section {
  scroll-margin-block-start: 11rem;
}
.footnote-inline {
  font-size: 0.5em;
  vertical-align: super;
  color: inherit;
}

.rendered {
  margin-block-end: $spacing-large;
  margin-inline: 1rem;

  &:has(+ .rendered) {
    margin-block-end: $spacing-small;
  }

  p {
    font-size: 1.25rem;
    margin-block-end: 1em;

    @include screen(sm) {
      font-size: 1rem;
    }
  }

  @include screen(sm) {
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
    column-gap: 1rem;
    p {
      grid-column: 2 / span 6;
    }
  }
  @include screen(lg) {
    grid-template-columns: repeat(16, minmax(0, 1fr));
    p {
      grid-column: 6 / span 6;
    }
  }
}

.sm-mk {
  @include screen(sm) {
    display: none;
  }
}
.lg-mk {
  @include screen(lg) {
    display: none;
  }
}

.divider {
  position: relative;
  overflow: visible;
  border: none;
  border-top: 1px solid var(--color-border);

  &:before {
    line-height: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    padding-inline: 0.625rem;
    content: 'ยง';
    transform: translateY(-70%) translateX(-50%);
    color: var(--color-text);
    background-color: var(--color-background);
  }
}

.chapter-counter {
  font-family: $font-display;
  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.05em;
}
