@use '../abstract/mixins' as *;

@use './abstract' as *;

.chapter-four {
  scroll-margin-block-start: 5rem;
  .rendered h3 {
    @include davinci;

    font-size: 2rem;
    font-style: italic;
    line-height: 1.2;
    margin-block-end: var(--spacing-small);
    text-wrap: balance;
  }
}
.chapter-four-hero {
  position: relative;
  margin-block-end: var(--spacing-large);
  img {
    height: 42rem;
    object-fit: cover;
  }
  &__inner {
    position: absolute;
    inset-inline: 0;
    top: var(--spacing-small);
    bottom: 2.5rem;
    display: grid;
    align-content: space-between;
    text-align: center;
  }
  &__title {
    @include davinci;

    font-size: 26vw;
    font-style: italic;
    line-height: 0.8;
    color: #fefefe;
  }
}

.consider {
  font-size: 1.25rem;
  margin-block-end: var(--spacing-large);
  text-align: center;
  &__title {
    @include davinci;

    font-size: 3rem;
    font-style: italic;
    margin-block-end: 1rem;
  }
}
