@font-face {
  font-family: 'DaVinci';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/TRJNDaVinci-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DaVinci';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/TRJNDaVinci-Italic.woff') format('woff');
}
