@use '../vendor/reset';

@use '../abstract/mixins' as *;
@use '../abstract/variables' as *;

$image-dir: '/img/custom/a-website-to-destroy-all-websites';

$color-fog: #eae8e1;
$color-oil: #32332e;
$color-ash: #c5c5ba;

$font-display: 'DaVinci', 'Louize Display', 'Louize', 'Times New Roman', serif;
$font-display-secondary: 'Louize Display', 'Louize', 'Times New Roman', serif;
$font-mono: 'SFMono', 'SF Mono', 'Fira Code', Consolas, Monaco, 'Andale Mono',
  'Ubuntu Mono', monospace;

$spacing-large: 6.25rem;
$spacing-small: 3.75rem;

@mixin davinci {
  font-family: $font-display;
  font-weight: normal;
  line-height: 1;
  letter-spacing: -0.05em;
}

@mixin label {
  font-style: italic;
  position: absolute;
  top: -0.6em;
  display: inline-block;
  padding-inline: 0.625rem;
  background-color: var(--color-contrast);
}

@font-face {
  font-family: 'DaVinci';
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/TRJNDaVinci-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DaVinci';
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/TRJNDaVinci-Italic.woff') format('woff');
}

:root {
  --color-contrast: #{$color-fog};
  --color-primary: #{$color-oil};
  --color-background: var(--color-contrast);
  --color-text: var(--color-primary);
  --color-border: #{$color-ash};
}

::selection {
  background-color: hsla(47, 18%, 30%, 0.2);
}

html {
  overscroll-behavior-y: none;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  font-family: $font-serif;
  color: var(--color-text);
  background-color: var(--color-background);
}

picture img {
  width: 100%;
  height: 100%;
}

figure {
  > picture,
  > img {
    margin-block-end: 0.5rem;
  }
  figcaption {
    font-size: 0.75rem;
    text-align: right;
  }
}
p {
  code {
    font-family: $font-mono;
    font-size: 0.75em;
    white-space: nowrap;
    color: #a18c3a;
    font-size: 0.75em;
    border: 1px solid hsl(48, 47%, 63%);
    padding-inline: 0.5ch;
    border-radius: 4px;
  }
}
a {
  &:is(:hover, :focus, :active) {
    opacity: 0.8;
  }
  &:has(> code) {
    text-decoration: none;
  }
}

section {
  scroll-margin-block-start: 11rem;
}
.footnote-inline {
  font-size: 0.5em;
  vertical-align: super;
  color: inherit;
}

.rendered {
  margin-block-end: $spacing-large;
  margin-inline: 1rem;

  &:has(+ .rendered) {
    margin-block-end: $spacing-small;
  }

  p {
    font-size: 1.25rem;
    margin-block-end: 1em;
  }
}

.divider {
  position: relative;
  overflow: visible;
  border: none;
  border-top: 1px solid var(--color-border);

  &:before {
    line-height: 1;
    position: absolute;
    top: 0%;
    left: 50%;
    padding-inline: 0.625rem;
    content: 'ยง';
    transform: translateY(-70%) translateX(-50%);
    color: var(--color-text);
    background-color: var(--color-background);
  }
}

.intro {
  position: relative;
  display: grid;
  margin: 1.25rem 1rem $spacing-large;
  padding: $spacing-small 1rem;
  outline: 1px solid var(--color-border);
  &__title {
    font-family: $font-display;
    font-size: 4.5rem;
    font-weight: normal;
    line-height: 1;
    margin-block-end: 2rem;
    text-align: center;
    letter-spacing: -0.05em;
    > span {
      font-style: italic;
    }
    > em {
      font-style: normal;
      color: #9a9a9a;
    }
  }
  &__subtitle {
    font-size: 1.25rem;
    text-align: center;
    span {
      // display: block;
    }
  }
  &__label {
    left: 1rem;
    text-decoration: none;
    color: inherit;

    @include label;
    text-underline-offset: 1px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__card {
    grid-row: 1;
    max-width: 16rem;
    margin-block-end: 2rem;
    margin-inline: auto;
  }
}

.toc {
  margin-block-end: $spacing-large;
  padding-inline: 1rem;
  &__title {
    font-size: 1.25rem;
    font-weight: normal;
    font-style: italic;
    margin-block-end: $spacing-small;
    text-align: center;
  }
  &__list {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
    counter-reset: toc;
    li {
      display: grid;
      column-gap: 3.5rem;
      grid-template-columns: 2ch 1fr;
      counter-increment: toc;
      &::before {
        content: '';
        content: counter(toc) '.';
      }
    }
  }
  a {
    text-decoration: none;

    text-underline-offset: 1px;
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}
.chapter-counter {
  font-family: $font-display;
  font-size: 2rem;
  text-align: center;
  letter-spacing: -0.05em;
}
.chapter-one {
  margin-block-start: $spacing-large;
}

.chapter-one-hero {
  margin-block-end: $spacing-large;
  padding-inline: 1rem;
  .chapter-counter {
    margin-block-end: $spacing-small;
  }
  &__inner {
    position: relative;
    display: grid;
  }
  &__title {
    font-family: $font-display;
    font-size: 4.5rem;
    font-weight: normal;
    line-height: 0.9;
    display: grid;
    grid-column: 1;
    grid-row: 1 / span 3;
    grid-template-rows: subgrid;
    letter-spacing: -0.05em;

    > span {
      display: block;
      &:nth-of-type(2) {
        align-self: center;
        text-align: center;
        color: #fefefe;
      }
      &:nth-of-type(3) {
        text-align: right;
      }
    }
  }
  &__frame {
    position: relative;
    z-index: -1;
    grid-column: 1;
    grid-row: 2;

    figcaption {
      position: absolute;
      top: -0.3rem;
      right: 0;
      max-width: 30ch;
      transform: translateY(-100%);
    }
    cite {
      white-space: nowrap;
    }
  }
}

.pastoral-aside {
  position: relative;
  display: grid;
  margin-block-end: $spacing-large;

  > * {
    grid-column: 1;
    grid-row: 1;
  }

  &__title {
    @include davinci;

    font-size: 3rem;
    position: absolute;
    align-self: center;
    margin-block-start: -1rem;
    text-align: center;
    color: #fefefe;
  }
}

.disclaimer {
  position: relative;
  //  padding:1rem;
  margin: 0 1rem $spacing-large;
  padding-block: $spacing-small;
  outline: 1px solid var(--color-border);
  &__text {
    @include davinci;

    font-size: 3rem;
    text-align: center;
    span {
      font-style: italic;
    }
  }
  &__label {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;

    @include label;
  }
}

.chapter-two {
  margin-block-start: $spacing-large;
}

.chapter-two-hero {
  position: relative;
  margin-block-end: $spacing-large;
  margin-inline: 1rem;
  .chapter-counter {
    margin-block-end: $spacing-small;
  }
  &__title {
    @include davinci;

    color: #fefefe;
    > span {
      position: absolute;
      &:nth-of-type(1) {
        bottom: calc(1.7rem + 17vw);
        left: 3vw;
      }
      &:nth-of-type(2) {
        font-size: 18vw;
        inset-block-end: 1.7rem;
        inset-inline: 0;
        text-align: center;
      }
    }
  }
  &__frame {
    figcaption {
      // margin-inline-end: 1rem;
    }
  }
}

.no-longer-aside {
  margin-block-end: $spacing-large;
  margin-inline: 1rem;
  figure {
    &:nth-of-type(1) {
      margin-block-end: 1.5rem;
    }
  }
  &__text {
    @include davinci;

    font-size: 2rem;
    line-height: 1.2;
    margin-block-end: 1rem;

    span {
      display: block;
      &:nth-of-type(1) {
        margin-block-end: $spacing-small;
      }
      &:nth-of-type(2) {
        text-align: right;
      }
    }
    em {
      white-space: nowrap;
    }
  }
}

.chapter-three {
  margin-block-start: $spacing-large;
}
.chapter-three-hero {
  margin-block-end: $spacing-small;
  margin-inline: 1rem;
  .chapter-counter {
    margin-block-end: $spacing-large;
  }
  &__title {
    @include davinci;

    font-size: 4.2rem;
    hyphens: auto;

    span {
      font-style: italic;
      color: #9a9a9a;
    }
  }
}
.tech-lockup {
  font-size: 1.25rem;
  margin-inline: 1rem;
  > div {
    margin-block-end: $spacing-large;
  }
  h3 {
    @include davinci;

    font-size: 2rem;
    margin-block-end: $spacing-small;
  }
}

picture {
  &:has(.book--tools) {
    float: inline-start;
    max-width: 160px;
    margin-block-end: 0.5rem;
    margin-inline-end: 1rem;
  }
}
.convivial-life {
  img {
    float: inline-end;
    max-width: 160px;
    margin-block-end: 1rem;
    margin-inline-start: 1rem;
  }
  h3 {
    @include davinci;

    font-size: 2rem;
    line-height: 1.2;
    margin-block-end: $spacing-small;
  }
}

.chapter-four {
  scroll-margin-block-start: 5rem;
  .rendered h3 {
    @include davinci;

    font-size: 2rem;
    font-style: italic;
    line-height: 1.2;
    margin-block-end: $spacing-small;
    text-wrap: balance;
  }
}
.chapter-four-hero {
  position: relative;
  margin-block-end: $spacing-large;
  img {
    height: 42rem;
    object-fit: cover;
  }
  &__inner {
    position: absolute;
    inset-inline: 0;
    top: $spacing-small;
    bottom: 2.5rem;
    display: grid;
    align-content: space-between;
    text-align: center;
  }
  &__title {
    @include davinci;

    font-size: 26vw;
    font-style: italic;
    line-height: 0.8;
    color: #fefefe;
  }
}

.consider {
  font-size: 1.25rem;
  margin-block-end: $spacing-large;
  text-align: center;
  &__title {
    @include davinci;

    font-size: 3rem;
    font-style: italic;
    margin-block-end: 1rem;
  }
}

.chapter-five {
  margin-block-start: $spacing-large;
  scroll-margin-block-start: $spacing-large;
}
.chapter-five-hero {
  position: relative;
  margin-block-end: $spacing-large;
  margin-inline: 1rem;
  text-align: center;
  &__inner {
    position: absolute;
    inset-block-start: $spacing-large;
    inset-inline: 0;
    color: #fefefe;
  }
  .chapter-counter {
    margin-block-end: $spacing-large;
  }
  &__title {
    @include davinci;

    font-size: 4.5rem;
  }
  figure {
    position: relative;
    z-index: -1;
  }
  img {
    height: 45rem;
    object-fit: cover;
    filter: brightness(0.8);
  }
}

.websites-callout {
  @include davinci;

  font-size: 4.5rem;
  font-style: italic;
  margin-block-end: $spacing-large;
  margin-inline: auto;
  padding-inline: 1rem;
  text-align: center;
}

.steps-list {
  margin: 0;
  margin-block-end: $spacing-large;
  padding: 0;
  counter-reset: steps;
}

.steps-list-item {
  margin-block-end: $spacing-small;
  padding-inline: 1rem;
  counter-increment: steps;
  &:last-child {
    margin-block-end: 0;
  }
  &:before {
    font-family: $font-display-secondary;
    font-size: 2rem;
    font-weight: 300;
    display: block;
    max-width: 3rem;
    aspect-ratio: 1;
    margin-block-end: 2rem;
    margin-inline: auto;
    // content: counter(steps) '.';
    content: counter(steps);
    text-align: center;
    color: #a18c3a;
    border: 1px solid currentColor;
    border-radius: 100%;
  }
  h3 {
    font-family: $font-display-secondary;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    line-height: 1.2;
    margin-block-end: $spacing-small;
    text-align: center;
    em {
      font-style: normal;
    }
  }
  p {
    font-size: 1.25rem;
  }
}

.chapter-six {
}
.chapter-six-hero {
  position: relative;
  margin-block-end: $spacing-small;
  &__inner {
    position: absolute;
    z-index: 2;
    inset-inline: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fefefe;
  }
  .chapter-counter {
    margin-block-end: 1.5rem;
  }
  &__title {
    @include davinci;

    font-size: 4rem;
    font-style: italic;
  }
  figcaption {
    margin-inline-end: 1rem;
  }
}

.works-cited {
  padding-inline: 1rem;
  &__title {
    font-family: $font-display-secondary;
    font-size: 2rem;
    font-weight: 300;
    font-style: italic;
    margin-block-end: $spacing-small;
  }
}
.works-cited-list {
  padding: 0;
  margin: 0;
  counter-reset: works;
  margin-block-end: $spacing-large;

  li {
    counter-increment: works;
    list-style: none;
    margin-block-end: 1em;
    &:before {
      content: counter(works);
      font-size: 0.75em;
      vertical-align: super;
      margin-inline-end: 1ch;
    }
  }
  :target {
    outline: 1px dashed var(--color-border);
    outline-offset: 0.5rem;
    scroll-margin-block-start: 1rem;
  }
}
