@use 'sass:map';

@use './variables' as *;

@mixin screen($breakpoint) {
  $bk: $breakpoint;

  @if (map.get($breakpoints, $breakpoint)) {
    $bk: map.get($breakpoints, $breakpoint);
  }
  @media screen and (min-width: #{$bk}) {
    @content;
  }
}

@mixin with-focus-outline($focusWithin: false) {
  @if ($focusWithin) {
    &:focus-within {
      outline: 1px dashed $color-border-mid;
      outline-offset: 5px;
    }
  } @else {
    &:focus {
      outline: 2px dashed $color-border-mid;
      outline-offset: 2px;
    }
    &:focus:not(:focus-visible) {
      outline: none;
    }
  }
}
