---js
{
    tags: ['page'],
    title: 'About',
    og: 'https://dev.henry.codes/img/og/og-about.png',
    eleventyComputed: {
        footerLinks: (data) => [
            ...data.footerLinks,
            { name: "About", url: "/about" },
        ],
    },
}
---
<header class="page-header">
    <div class="page-header__inner">
        <h1 class="page-header__title page-header__title--about-adjust">About the author</h1>
        <img class="page-header__image page-header__image--first page-header__image--ghost" src="/img/ghost.svg" alt="">
    </div>
</header>

<article class="about-layout">
    <figure class="about-layout__avatar card-figure">
        <img src="/img/statuary.jpg" alt="A dithered, monochrome rendering of a white man with white hair from the neck up. He stares into the middle distance, though it’s hard to tell as the pupils of his eyes have been edited out."/>
        <figcaption>A portrait of the author as a young man.</figcaption>
    </figure>
    <section class="card about-layout__section about-layout__who">
        <h2>Who</h2>
        <p>I’m Henry Desroches; I’m a front-of-the-front-end developer && design engineer  && creative technologist && UX engineer && web  developer from Denver, Colorado. I got my start Coding For The ‘Net in  2004, using Dreamweaver to make websites for school projects. I’ve worked professionally on the web since 2015, mostly at creative web agencies, though I’ve done some time with some incredible teams at FAANG companies and other large corporations.</p>
        <nav class="about-links">
            <a class="with-arrow" href="/now">Now</a>
            <a class="with-arrow" href="#speaking">Speaking</a>
            <a class="with-arrow" href="#contact">Availability & Contact</a>
            <a class="with-arrow with-arrow--out" href="https://resume.henry.codes">Serious Resume</a>
            <a class="with-arrow with-arrow--out" href="https://hireme.website">Not-Very-Serious Resume</a>
        </nav>
    </section>
    <img eleventy:ignore class="about-layout__collar" src="/img/collar.svg" alt="">
    <div class="barb-bar"></div>
    <aside class="window to-elsewhere">
        <h3>Elsewhere</h3>
        <ul class="social-list">
            {% for socialLink in social %}
                {% include "social-link-list-item.njk" %}
            {% endfor %}
        </ul>
    </aside>
    <section class="about-layout__speaking" id="speaking">
        <div class="card">
            <h2>Speaking</h2>
            <p>I had my first opportunity to speak at 11ty Conf in May of 2024, and would absolutely love the chance to speak out again, on topics like CSS necromancy, the IndieWeb, personal websites, and web animation.</p>
        </div>
        {% for talk in collections.speaking %}
            {% include 'speaking-list-item.njk' %}
        {% endfor %}
    </section>
    <section class="card about-layout__contact" id="contact">
        <h2>Contact</h2>
        <p>I'm still taking on freelance web design and development projects on a case-by-case basis. Let’s talk!</p>
        <p>I’m most active and reachable via email. My <a href="https://resume.henry.codes">Serious & Professional Resume lives here</a> and my <a href="https://hireme.website">Not Very Serious At All Resume lives here</a>.
        <a class="card__link with-arrow with-arrow--out" href="mailto:yo@henry.codes">Reach out and touch faith</a>
    </section>
    <section class="card about-layout__recognition" id="recognition">
        <h2>Recognition</h2>
        {% renderTemplate 'webc', {recognition: recognition, publishers: publishers} %}
        <recognition-chart :@recognition="recognition" :@publishers="publishers"></recognition-chart>
        {% endrenderTemplate%}
    </section>
</article>

