---js
{
    backLink: '/writing',
    backLinkText: 'All articles',
    tags: ['page'],
    og: 'https://henry.codes/img/og/og-notes.png',

    eleventyComputed: {
        footerLinks: (data) => [
            ...data.footerLinks,
            { name: "Articles", url: "/writing" },
            { name: "Notes", url: "/notes" },
        ],
    },
}
---
{% from './_includes/article-block.njk' import articleBlock %}

<header class="page-header">
    <div class="page-header__inner">
        <h1 class="page-header__title">Notes</h1>
        <p class="page-header__description">Posts not-quite-ready-for-prime-time. Code snippets & brave beginnings of ideas. You can <a href="/rss/notes.xml">subscribe to this feed via RSS</a>.
    </div>
</header>

<section class="writing-section" id="notes">
    <div class="container">
        <div class="articles-list">
            {% for article in collections['note'] | sortedByPublishDate %}
                {{ articleBlock(article) }}
            {% endfor %}
        </div>
    </div>
</section>
