---js
{
    title: 'Now',
    tags: ['page'],
    og: 'https://henry.codes/img/og/og-now.png',
    eleventyComputed: {
        footerLinks: (data) => [
            ...data.footerLinks,
            { name: "Now", url: "/now" },
        ],
    },
}
---
<header class="page-header">
    <div class="page-header__inner">
        <h1 class="page-header__title">Now</h1>
        <div class="page-header__bar"></div>
        <p class="page-header__description">Current focus, hobbies, projects and interests. (Read more at <a
                href="https://nownownow.com/about">nownownow.com/about</a>.)</p>
    </div>
</header>
<div class="container">
    <div class="article-content rendered">
        {% for update in collections['now'] %}
        <article class="now-update">
            <h2>{{ update.date | humanReadableDate }}</h2>
            <div>
                {{ update.content | safe }}
            </div>
        </article>
        {% endfor %}
    </div>
</div>