---js
{
    tags: ['page'],
    backLink: '/',
    backLinkText: 'Go home',
    title: 'Case Studies',
    og: 'https://dev.henry.codes/img/og/og-work.png',
    eleventyComputed: {
        footerLinks: (data) => [
            ...data.footerLinks,
            { name: "Case Studies", url: "/work" },
        ],
    }
}
---

<header class="page-header page-header--case-studies">
    <div class="page-header__inner">
        <h1 class="page-header__title">Case Studies</h1>
        <div class="page-header__bar" />
    </div>
</header>

<section class="container">
    <div class="cases-block-list">
        {% for caseStudy in collections['case study'] | sortedByPublishDate %}
            {% include 'case-study-block.njk' %}
        {% endfor %}
        <span class="list-design-element"></span>
        <span class="list-design-element"></span>
        <span class="list-design-element"></span>
        <span class="list-design-element"></span>
        <span class="list-design-element"></span>
        <span class="list-design-element"></span>
        <span class="list-design-element"></span>
        <span class="list-design-element"></span>
    </div>
</section>
