@use './abstract/variables' as *;

body {
  //   background-color: #fafafa;
  font-family: 'Neue Montreal', sans-serif;
  position: relative;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr 6rem;
  align-items: center;
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 24px;
  color: $color-text;
  //   color: #2a2722;
  border-inline-start: 24px solid #2a2722;
  //   background-color: var(--color-background);
  background-color: var(--color-background);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-text: #fafafa;
  --color-background: #000;
  --color-text-mid: #666;
  --color-border-mid: #bdbdbd;
  --color-border-light: #eee;
  --color-background-art: #201d18;

  &.light {
    --color-text: #2a2722;
    --color-background-art: #ebebeb;
    --color-background: #fafafa;
  }
}
.has-barbed-border {
  background-image: url('/img/thorn-vertical-dark.svg');
  background-repeat: repeat-y;
  background-position-y: 50%;
  background-size: 195px;
  background-position-x: 24px;
}
.container {
  max-width: 1000px;
  &--centered {
    margin-inline: auto;
  }
  &--bottom {
    align-self: end;
  }
  &--wide {
    max-width: calc(100vw - 4rem);
  }
}
.logo {
  max-width: 64px;
  max-height: 64px;
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
  position: fixed;
  top: 32px;
  left: calc(2rem + 24px);
}
.header {
  position: absolute;
  top: 2rem;
  left: 2rem;
  max-width: 520px;
  p {
    margin: 0;
  }
}

.intro {
  font-size: 24px;
  text-transform: uppercase;
  color: $color-text-mid;
  .accent {
    color: $color-text;
  }
  &--centered {
    text-align: center;
    // max-width: 800px;
    margin-inline: auto;
  }
}
h1 {
  font-family: $font-serif-display;
  font-size: 100px;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  text-wrap: balance;
}
.page-title {
  font-size: 240px;
  line-height: 0.8;
  font-family: $font-display;
  text-transform: uppercase;
}
.row {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: end;
  column-gap: 2rem;
}
.case-title {
  font-size: 136px;
  text-align: center;
  line-height: 0.9;
}
.tags {
  font-size: 24px;
  position: fixed;
  bottom: 2rem;
  left: calc(2rem + 24px);
  text-transform: uppercase;
}
.background-art {
  position: fixed;
  z-index: -1;
  inset: 0;
  top: 2rem;
  display: grid;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 64px);
  color: var(--color-background-art);
  svg {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
  }
}
.footer {
  font-size: 24px;
  text-transform: uppercase;
  color: $color-text-mid;
}

.season {
  position: fixed;
  top: 2rem;
  left: calc(100% - 2rem);
  display: inline-block;
  width: 0;
  transform: translateY(-1lh) rotate(90deg);
  white-space: nowrap;
}

.disclaimer {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.barb-bar {
  width: 100%;
  height: 180px;
  border: 2px solid #787878aa;
  border-radius: $bdrs;
  background-image: url('/img/thorns-rotated-on-black.png');
  background-repeat: repeat-x;
  background-position-y: 50%;
  background-size: 110px;
}
