@use 'vendor/reset';
@use 'vendor/prism';

@use 'abstract/variables' as *;
@use 'abstract/mixins' as *;

@use 'base/utils';
@use 'base/layout';
@use 'base/rendered';
@use 'base/math';

@use 'components/page-nav';
@use 'components/home-nav';
@use 'components/spotify-widget';
@use 'components/footer';
@use 'components/social-list';
@use 'components/card';
@use 'components/window';
@use 'components/article-block';
@use 'components/case-study-block';
@use 'components/case-study-row';
@use 'components/table-of-contents';
@use 'components/page-header';
@use 'components/article-header';
@use 'components/case-header';
@use 'components/speaking-list';
@use 'components/post';
@use 'components/embed';
@use 'components/grid-overlay';

@use 'pages/home';
@use 'pages/work';
@use 'pages/writing';
@use 'pages/about';
@use 'pages/micro';

.case-study-list,
.articles-list {
  margin: 0;
  padding: 0;

  @include screen(sm) {
    display: grid;
    grid-column-end: span 2;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  @include screen(lg) {
    grid-template-columns: repeat(auto-fit, minmax(346px, 1fr));
  }
}

.case-study-list {
  counter-reset: case-studies;
}

.layout-post {
  display: grid;
  place-content: center;
  min-height: 30rem;
}

.article-content {
  margin-block-end: 4.5rem;
  counter-reset: h2s;

  @include screen(magazine) {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    --standard-column: 4 / span 6;
    --pre-column: 4 / span 7;

    > * {
      grid-column: var(--standard-column);
    }

    // stylelint-disable-next-line
    > .cp_embed_wrapper {
      grid-column-end: span 6;
    }
  }
  @include screen(1200px) {
    --standard-column: 5 / span 5;
    --pre-column: 5 / span 5;
  }
  @include screen(1512px) {
    --standard-column: 5 / span 4;
  }

  h2 {
    @include screen(magazine) {
      position: relative;

      &::before {
        font-size: 1em;
        position: absolute;
        right: calc(100% + 1rem);
        width: max-content;
        content: '0' counter(h2s) ' —';
        color: $color-text;
      }
    }
    @include screen(1200px) {
      grid-column-end: span 7;
    }
  }

  pre {
    grid-column: var(--pre-column);
    max-width: 80ch;
    margin-block-end: 2rem;

    @include screen(magazine) {
      max-width: unset;
      padding: 1.5rem;
    }
  }

  .article-block {
    max-width: 60ch;
  }

  picture {
    // TODO Workaround for @eleventy-img attributes on <picture>
    display: contents;
  }

  img {
    background-color: $color-border-light;
    color: $color-text;

    &.with-transparent-bg {
      background-color: transparent;
    }
  }

  .flow {
    margin-block-end: 1lh;
  }
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;

  .column {
    --column: 1 / -1;
    --row: auto;

    grid-column: var(--column);
    grid-row: var(--row);
  }
}

.further-reading {
  max-width: 50ch;
  margin-block-end: 4.5rem;

  --standard-column: 4 / span 6;
  @include screen(magazine) {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    max-width: unset;
  }
  @include screen(1200px) {
    --standard-column: 5 / span 4;
  }

  h2 {
    font-family: $font-serif-display;
    font-size: 2rem;
    font-weight: normal;
    line-height: 1;
    grid-column: var(--standard-column);
    margin-block-end: 1.5rem;
    scroll-margin-block-start: 4.5rem;
    counter-increment: h2s;
  }

  .article-block,
  .case-study-block {
    grid-column: var(--standard-column);
  }
}

.barb-bar {
  width: 100%;
  height: 7.6rem;
  border: 2px solid $color-text;
  border-radius: $bdrs;
  background-image: url('/img/thorn.svg');
  background-repeat: repeat-x;
  background-position-y: 50%;
  background-size: 75px;

  @include screen(lg) {
    width: auto;
    height: clamp(7.6rem, 1.8647rem + 10.1961vw, 11.5rem);
    margin-block-end: 0;
    background-size: min(7vw, 105px);
  }
}
