---
layout: "layouts/base.njk"
bodyClass: "article"
---
{% renderTemplate "webc" %}
<page-nav back-link="/writing" back-link-text="Back to all articles"></page-nav>
{% endrenderTemplate %}

{# <nav class="page-nav">
    <a href="/" class="page-nav__brand">✷ season fw24 <span>— go home</span></a>
    <p class="page-nav__tagline">the Personal site & Portfolio of Henry Desroches</p>
    <a href="/writing" class="page-nav__back-link">← Back to all articles</a>
</nav> #}
{# <div class="container">
<img class="masthead-image" src="https://placehold.co/551x178">
</div> #}

<header class="article-header">
    <div class="article-header__inner container">
    <div class="article-header__mast">
        <p class="article-header__category">{{ category }}</p>
        <h1 class="article-header__title" @text="title">{{ title }}</h1>
        <dl class="article-header__meta">
            <div>
                <dt>Duration</dt>
                <dd>{{ content | readTime }}</dd>
            </div>
            <div>
                <dt>Last Updated</dt>
                <dd @text="monthYearDate(page.date)">
                    {{ page.date | monthYearDate }}
                </dd>
            </div>
            <div class="article-header__topics" webc:if="topics">
                <dt>Topics</dt>
                <dd @text="topics.join(' — ')">
                    <ul class="article-header__topics-list" role="list">
                    {%- for topic in topics -%}
                        <li>{{ topic }}</li>
                    {# {% if not loop.last%} — {% endif %} #}
                    {%- endfor -%}
                    </ul>
                </dd>
            </div>
        </dl>
    </div>
    <!-- <div webc:if="abstract" class="article__abstract" @text="abstract"></div> -->
    {% set toc = content | getTOC %}
    {% include 'table-of-contents.njk' %}
    <img src="https://placehold.co/396x168" class="article-header__image">
</header>

<article class="article-content rendered" @raw="content">
    {{ content | safe }}
</article>

<!-- TODO: Next post doesn't work -->
<!-- <script webc:setup>
    console.log(this.page)
    const nextPost = this.getNextCollectionItem(collections.article, this.page);
</script>

<div class="article__next">
    <article class="card">
        <h1 class="card__title card__title--small card__title--compact" @text="nextPost.data.title"></h1>
        <p class="card__content" @text="nextPost.data.excerpt"></p>
        <a :href="nextPost.url" class="card__link">Read More →</a>
    </article>
</div> -->

<!-- <template webc:nokeep @raw="this.getNextCollectionItem(collections.articles)"></template> -->
</div>
{% include 'footer.njk' %}