---
layout: "layouts/base.njk"
bodyClass: "article"
---

<nav class="page-nav">
    <a href="/" class="page-nav__brand">✷ season fw24 <span>— go home</span></a>
    <p class="page-nav__tagline">the Personal site & Portfolio of Henry Desroches</p>
    <a href="/writing" class="page-nav__back-link">← Back to all articles</a>
</nav>
<div class="container">
 <article class="post post--by-self">
        <div class="post__content">{{ content | safe }}</div>
        <footer class="post__footer">
            <time class="post__date">{{ date | humanReadableDateTime }}</time>
            <a class="post__permalink" href="/micro/{{ date | toISOString | slugify }}">Permalink</a>
        </footer>
        
    </article>
</div>

{% include 'footer.njk' %}