<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preload" href="/fonts/manuka-black.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/subset-LouizeDisplaytrial.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/subset-LouizeDisplaytrial-Italic.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/PPNeueMontreal-Book.woff2" as="font" type="font/woff2"
crossorigin />
    <link rel="stylesheet" href="/css/fonts.css"></link>
    <link rel="stylesheet" href="/css/og.css"></link>
</head>

<body>
    {{ content | safe }}
    <footer class="footer">
        <span class="season">✷ ver. fw24</span>
        {# <span class="author">henry from online</span> #}
        <span class="disclaimer">i’ll log off when i’m dead</span>
    </footer>
</body>

</html>